.add-to-cart-form {
	max-width: 400px;
	padding: 0 20px;
	width: 100%;

	.eyebrow {

	}


}

.increment-wrapper {
	display: flex;
	min-width: 112px;
	.increment {
		background: none;
		border: 1px solid $black;
		border-radius: 100%;
		font-size: 18px;
		outline: 0 none;
		cursor: pointer;
		height: 22px;
		padding: 0;
		transition: opacity 0.25s $ease-in-out;
		width: 22px;

		&.increase {

		}

		&.decrease {

		}

		&.disabled {
			opacity: 0.25;
			pointer-events: none;
		}
	}

	.count {
		font-size: 16px;
		line-height: 22px;
		margin: 0;
		text-align: center;
		width: 50px;
	}
}

.subscription-wrapper {
	margin: 0 0 30px;

	.eyebrow {
		align-items: center;
		border-bottom: 1px solid $black;
		display: flex;
		justify-content: space-between;
		margin: 0 0 20px;
		padding: 0 0 12px;

		.price {

		}
	}

	.subscription-selection {
		cursor: pointer;

		.subscribe {

			.subscription-interval {
				align-items: center;
				display: flex;
				margin: 0 0 15px;

				.type {

				}
			}
		}

		.radio-button {
			box-shadow: inset 0 0 0 1px rgba($black, 0.5);
			border-radius: 100%;
			display: inline-block;
			height: 22px;
			margin: 0 11px 0 0;
			position: relative;
			width: 22px;

			&:after {
				background-color: $black;
				border-radius: 100%;
				content: "";
				height: 14px;
				margin: 4px;
				opacity: 0;
				position: absolute;
				transform: scale(0.75);
				width: 14px;
				transition: opacity 0.25s $ease-in-out, transform 0.25s $ease-in-out;
			}
		}

		&.active {

			.subscription-interval {

				&.active {

					.radio-button {

						&:after {
							opacity: 1;
							transform: scale(1);
						}
					}
				}
			}
		}

		&.non-recurring {
			align-items: center;
			display: flex;

			&.active {

				.radio-button {

					&:after {
						opacity: 1;
						transform: scale(1);
					}
				}
			}
		}
	}
}