.mini-cart-backdrop {
  position: fixed;
  pointer-events: all;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 102;
  top: 0;
  opacity: 0.5;
  background: #00142D;
  cursor: pointer;
  //opacity: 0;
  //visibility: hidden;
}

#mini-cart {
  //opacity: 0;
  //visibility: hidden;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  top: 20px;
  right: 20px;
  z-index: 110;
  @include get-vw(width, 338px, 338px);
  border-radius: 13px;
  border: 1px solid #00142D;
  background: #E9F7FB;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 14px;
  .top {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 8px;
    p {
      color: #FFF;
      text-shadow: -2px 2px #00142d;
      -webkit-text-stroke: 1px #00142d;
      text-stroke: 1px #00142d;
      font-family: $ttBlack;
      @include get-vw(font-size, 46px, 46px);
      line-height: .91;
      letter-spacing: -1.4px;
      text-transform: uppercase;
    }
  }
  .nav-close {
    position: absolute;
    left: 10px;
    z-index: 5;
    svg {
      width: 30px;
      height: 30px;
      flex-shrink: 0;
    }
  }
  .shipping-messages {
    color: #00142D;
    font-family: $mencoBlack;
    font-size: 16px;
    line-height: 1.45;
    text-transform: uppercase;
    p {
      &:last-child {
        display: none;
      }
    }
  }
  .shipping-bar {
    border-radius: 11px;
    background: linear-gradient(135deg, #C1ECFF 0%, #C1ECFF 25%, #FFF 38.17%, #C2ECFF 60.83%, #C1ECFF 100%);
    padding: 8px 16px 14px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    width: 100%;
    @include get-vw(margin-bottom, 19px, 12px);

    .track {
      overflow: hidden;
      height: 15px;
      min-width: 100%;
      position: relative;
      margin-top: 10px;
      border-radius: 2.418px;
      border: 0.967px solid var(--dark, #00142D);
      background: #FFF;
      box-shadow: 1.9346132278442383px 1.9346132278442383px 0px 0px rgba(0, 0, 0, 0.25);
      span {
        position: absolute;
        left: 0;
        top: -1px;
        height: calc(100% + 2px);
        width: 100%;
        transform-origin: 0 50%;
        border-radius: 3px;
        border: 1px solid #00142D;
        background: linear-gradient(90deg, #9F8FFF 0%, #FFA3FF 25.33%, #FF8B8B 50.33%, #FFE092 74.81%, #A9FF99 100%);
      }
    }
    &.activated {
      .shipping-messages {
        &.activated {
          p {
            &:first-child {
              opacity: 0;
            }
            &:last-child {
              opacity: 1;
            }
          }
        }
      }
      .track {
        span {
          transform: scaleX(1);
        }
      }
    }
  }
  .inner {
    z-index: 1;
    flex-direction: column;
    padding: 0 2px;
    gap: 5px;
    display: flex;
  }
  .product-tile {
    border-radius: 11px;
    border: 1px solid var(--dark, #00142D);
    background: #FFF;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 10px;
  }
  .product-image {
    position: relative;
    border-radius: 11px;
    border: 1.5px solid var(--dark, #00142D);
    width: 74px;
    height: 92px;
    overflow: hidden;
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 74px;
      height: 92px;
    }
  }
  .product-info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    .left {
      flex-direction: column;
      height: 100%;
      display: flex;
      align-items: flex-start;
      margin-left: 6px;
    }
    .right {
      flex-direction: column;
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
  }
  .type {
    color: #00142D;
    font-family: $mencoBold;
font-weight: 700;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 4px;
  }
  .name {
    color: #00142D;
    font-family: $ttBlack;
    font-size: 28px;
    line-height: .88;
    letter-spacing: -0.64px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .price-wrapper {
    display: flex;
  }
  .line-item-price {
    color: #FBF7EB;
    text-shadow: -1px 1px #00142D;
    font-family: $ttBlack;
    font-size: 32px;
    line-height: .88;
    letter-spacing: -0.64px;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #00142d;
    text-stroke: 1px #00142d;
    width: 30px;
    display: flex;
    justify-content: flex-end;
  }
  .line-through-price {
    margin-left: 4px;
    text-decoration-line: line-through;
    line-height: 1.21;
    text-transform: uppercase;
    color: #828282;
    font-size: 14px;
  }

  .quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;
    height: 34px;
    padding: 0 16px;
    border-radius: 29px;
    border: 1px solid #00142D;
    background: #FFF;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.25);
    color: #00142D;
    text-align: center;
    font-family:$mencoBold;
    font-size: 18px;
    line-height: 1.45;
    text-transform: uppercase;
  }
  .increment {
    color: #00142D;
    text-align: center;
    font-family:$mencoBold;
    font-size: 18px;
    line-height: 1.45;
    text-transform: uppercase;
  }
  .remove-btn {
    display: flex;
    width: 20px;
    height: 20px;
  }
  .bottom {
    padding-top: 16px;
    padding-bottom: 16px;
    flex-direction: column;
    margin-top: auto;
    form {
      width: 100%;
      + p {
        margin-top: 24px;
      }
    }
    button {
      width: 100%;
    }
  }
  .subtotal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    p {
      color: var(--dark, #00142D);
      font-family: $mencoBold;
font-weight: 700;
      font-size: 18px;
      line-height: 1.45;
      text-transform: uppercase;
    }
  }
  .bottom-benefits {
    text-align: center;
    p {
      color: #000;
      font-family: $mencoBold;
font-weight: 700;
      font-size: 14px;
      line-height: 1.45;
      text-transform: uppercase;
    }
    strong {
      font-family: $mencoBold;
font-weight: 700;
    }
  }
  .inner-wrapper {
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .empty-wrapper {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateZ(0);
    border-radius: 13px;
    border: 1px solid #00142D;
    background: #E9F7FB;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
    z-index: 4;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 108px 72px;
    gap: 32px;
    p {
      color: #00142D;
      text-align: center;
      font-family: $ttBlack;
      font-size: 32px;
      line-height: .88;
      letter-spacing: -0.64px;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
  }
}

.mini-cart-recirc {
  display: none;
  //display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 10px;
  margin-top: auto;
  > p {
    margin-bottom: 10px;
    text-align: center;
  }
  p {
    color: #00142D;
    font-family: $mencoBlack;

    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
  }
  form {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    background: #FFFFFF;
    border-radius: 11px;
    border: 1px solid #00142D;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.25);
    padding: 16px 12px;
  }
  .img-wrapper {
    border-radius: 11px;
    border: 1px solid #00142D;
    display: flex;
    width: 44px;
    height: 54px;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    img {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
  .text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    gap: 3px;
    span {
      color: #000;
      font-family: $mencoMedium;
      font-size: 14px;
      line-height: 1;
      text-transform: uppercase;
    }
  }
  .pink-btn {
    width: 75px;
    min-width: 75px;
    height: 40px;
    font-size: 16px;
    margin-left: auto;
  }
}