/*
This file is to store the minimum css needed to
render the page upon first load. Anything that
javascript needs to measure will need to be set
in this file as well, for example: height or width
measurements.

The DOM file load order will look like:

_fonts.css
_init.css
main.js
main.css

-------------------------------------------------- */
@import "/normalize";
@import "../abstracts/mixins";
@import "../abstracts/variables";
@import "../base/custom-reset";


/* 	Init CSS
-------------------------------------------------- */

/* Box sizing */
* {
	box-sizing: border-box;
}

/* Font anti-aliasing in browsers that support it */
html,
html a {
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
	overscroll-behavior: none;
}
main {
	//padding-top: 32px;
	//@include get-vw(padding-top, 176px, 176px);
}
html {
	width: 100%;
	overscroll-behavior: none;
}

nav > a, button {
	pointer-events: all;
}

body {
	font-size: 16px;
	overflow-x: hidden;
	width: 100%;
	overscroll-behavior: none;
	background-color: #FFFFFF;
}
#global-mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 120;
	background: linear-gradient(90deg, #9F8FFF 0%, #FFA3FF 25.33%, #FF8B8B 50.33%, #FFE092 74.81%, #A9FF99 100%);
}
.preload {
	//opacity: 0;
	transition: opacity .25s $ease-in-out-sine;
	&.loaded {
		opacity: 1;
	}
}
.preload-critical {
	// opacity: 0;
	transition: .2s opacity $ease-in-out-sine;
	&.loaded {
		opacity: 1;
	}
}
.desktop-only {
	display: flex;
	@include bp-767 {
		display: none;
	}
}
.mobile-only {
	display: none;
	@include bp-767 {
		display: flex;
	}
}
#click-mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: all;
	cursor: wait;
	z-index: 101;
	display: none;
}
.bg {
	position: absolute;
	top: 0;
	left: 0;
	//z-index: 3;
	height: 100%;
	background-position: center;
	background-size: cover;
	width: 100%;
}
#pencil-bar {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: #DAD0FF;
	line-height: 1;
	color: #1A192E;
	height: 32px;
	@include get-vw(font-size, 16px, 14px);
}
.slider {
	overflow: hidden;
	width: 100%;
	height: 100%;
	.change-els {
		position: relative;
	}
	.inner {
		display: flex;
		width: 100%;
		height: 100%;
		max-height: 100%;
		&.vertical {
			flex-direction: column;
		}
	}
	.slides {
		width: 100%;
		height: 100%;
		max-height: 100%;
		display: block;
		overflow: hidden;
	}
	.slide {
		position: relative;
	}
}
.sr-only {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}
.marquee {
	display: flex;
	position: relative;
	width: 100%;
	align-items: center;
	.inner {
		display: flex;
		position: relative;
		align-items: center;
		flex-wrap: nowrap;
		width: 100%;
	}
	.group {
		display: flex;
		flex-wrap: nowrap;
	}
}
.svg-grid {
	position: absolute;
	opacity: 0.3;
}
.view-home {
	.svg-grid {
		top: 1300px;
	}
}
.max-width {
	max-width: 1800px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
	@include get-vw(padding-left, 190px, 190px);
	@include get-vw(padding-right, 190px, 190px);
	margin: 0 auto;
	@include bp-1024 {
		padding-left: 100px;
		padding-right: 100px;
	}
	@include bp-959 {
		padding-left: 20px;
		padding-right: 20px;
	}
	@include bp-767 {

	}
}
header {
	position: fixed;
	z-index: 100;
	max-width: 100%;
}
.pencil-bar {
	overflow: hidden;
	height: 40px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #00142D;
	background: linear-gradient(90deg, #9F8FFF 0%, #FFA3FF 25.33%, #FF8B8B 50.33%, #FFE092 74.81%, #A9FF99 100%);
	z-index: 2;
	.group {
		gap: 48px;
		margin-right: 48px;
	}
	p {
		color: var(--dark, #00142D);
		font-family: $mencoBlack;
		font-size: 18px;
		line-height: 1.48;
		letter-spacing: 0.18px;
		white-space: nowrap;
	}
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include get-vw(padding-top, 30px, 12px);
	margin: 0 auto;
	.logo {
		@include get-vw(height, 83px, 76px);
		display: flex;
		position: relative;
		z-index: 2;
		img {
			display: flex;
			width: auto;
			@include get-vw(height, 83px, 76px);
		}
	}

	.nav-bar {
		position: relative;
		border-radius: 13px;
		border: 1px solid #00142D;
		background: #FFF;
		box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include get-vw(padding-left, 40px, 27px);
		@include get-vw(padding-right, 10px, 10px);
		//@include get-vw(width, 722px, 722px);
		height: 62px;
		z-index: 3;
	}
	.left {
		display: flex;
		@include get-vw(gap, 45px, 20px);
		align-items: center;
		@include get-vw(margin-right, 60px, 10px);
	}
	.link {
		color: #fff;
		text-shadow: -1px 1px #00142d;
		-webkit-text-stroke: 1px #00142d;
		text-stroke: 1px #00142d;
		font-family: $ttBlack;
		font-size: 25px;
		letter-spacing: 1.75px;
		text-transform: uppercase;
		transform-origin: 20% 80%;
		transition: all .4s cubic-bezier(.47,1.64,.41,.8);
		padding: 7px 0;
		html:not(.touch) & {
			&:hover {
				transform: rotate(-3deg) translate3d(-2px, 1px, 0px);
				text-shadow: 0px 0px #00142d;
			}
		}
	}
	.right {
		display: flex;
		align-items: center;
		@include get-vw(gap, 16px, 16px);
	}
	.icon-link {
		display: flex;
		justify-content: center;
		align-items: center;
		@include get-vw(height, 43px, 43px);
		@include get-vw(width, 47px, 47px);
		transition: all .4s cubic-bezier(.47,1.64,.41,.8);
		transform-style: preserve-3d;
		perspective: 500px;
		> span {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			border-radius: 13px;
			border: 1px solid #00142D;
			background: #FFF;
			box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.25);
			overflow: hidden;
			@include get-vw(height, 43px, 43px);
			@include get-vw(width, 47px, 47px);
			transition: all .4s cubic-bezier(.47,1.64,.41,.8);

		}
		&.mobile {
			display: none;
		}
		&.account {
			border: none;
			border-radius: 100px;
			@include get-vw(height, 40px, 40px);
			@include get-vw(width, 40px, 40px);
			box-shadow: none;
			img {
				@include get-vw(height, 40px, 40px);
			}
			html:not(.touch) & {
				&:hover {
					transform: none;
				}
			}
		}
		svg {
			display: flex;
			@include get-vw(height, 19px, 19px);
			width: auto;
			transition: all .4s cubic-bezier(.47,1.64,.41,.8);
		}
		path {
			transition: all .4s cubic-bezier(.47,1.64,.41,.8);
		}
		html:not(.touch) & {
			&:hover {
				> span {
					transform: rotate(8deg) translateY(-3px) translateZ(30px);
					svg {
						transform: scale(1.1) translateZ(10px);
					}
					path {
						fill: #477dfd;
					}
				}
			}
		}
	}

	.hammy {
		position: relative;
		z-index: 3;
		border-radius: 13px;
		border: 1px solid #00142D;
		background: #FFF;
		box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.25);
		svg {
			width: 100%;
			height: 100%;
		}
		&.open {
			border: none;
			box-shadow: none;
		}
	}
	.nav-mask {
		position: absolute;
		opacity: 0.8;
		filter: blur(5px);
		background: linear-gradient(181deg, #D8EAFF 0%, rgba(217, 217, 217, 0.00) 100%);
		width: 100%;
		left: 0;
		height: 150px;
		top: 0;
		z-index: 1;
		display: none;
	}

	@include bp-767 {
		align-items: flex-start;
		padding: 18px 18px 0;
		.nav-mask {
			display: block;
		}
		.logo {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 8px;

		}
		.nav-bar {
			flex-direction: column-reverse;
			height: auto;
			position: absolute;
			width: calc(100% - 20px);
			left: 10px;
			z-index: 2;
			padding: 11px 20px 50px;
			top: 10px;
		}
		.left {
			flex-direction: column;
			gap: 0;
		}
		.right {
			justify-content: flex-end;
			width: 100%;
			margin-bottom: 30px;
			.cart {
				display: none;
			}
		}
		.link {
			font-size: 72px;
			color: #FBF7EB;
		}
		.icon-link {
			&.mobile {
				display: flex;
			}
			&.cart {
				z-index: 2;
				border-radius: 13px;
				border: 1px solid #00142D;
				background: #FFF;
				box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.25);
			}
		}
	}
}

.view-product, .view-home, .view-collection, .view-page {
	position: relative;
	overflow: hidden;
	section {
		position: relative;
		z-index: 3;
	}
	&:before {
		position: absolute;
		left: 0;
		content: '';
		pointer-events: none;
		z-index: 1;
		height: 100%;
		width: 100%;
	}
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' class='svg-grid' viewBox='0 0 1439 3712'%3E%3Cg stroke='%23E1DDEC' clip-path='url(%23a)' opacity='.2'%3E%3Cpath vector-effect='non-scaling-stroke' d='M30 3.5h1380M30 47.5h1380M30 91.5h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380M59.5 620V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4'/%3E%3C/g%3E%3Cg stroke='%23E1DDEC' clip-path='url(%23b)' opacity='.2'%3E%3Cpath vector-effect='non-scaling-stroke' d='M30 619.5h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1350.5.5V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620'/%3E%3C/g%3E%3Cg stroke='%23E1DDEC' clip-path='url(%23c)' opacity='.2'%3E%3Cpath vector-effect='non-scaling-stroke' d='M30 1239.5h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1350.5.5v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616'/%3E%3C/g%3E%3Cg stroke='%23E1DDEC' clip-path='url(%23d)' opacity='.2'%3E%3Cpath vector-effect='non-scaling-stroke' d='M30 1859.5h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1350.5.5v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616'/%3E%3C/g%3E%3Cg stroke='%23E1DDEC' clip-path='url(%23e)' opacity='.2'%3E%3Cpath vector-effect='non-scaling-stroke' d='M30 2479.5h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1350.5.5v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616'/%3E%3C/g%3E%3Cg stroke='%23E1DDEC' clip-path='url(%23f)' opacity='.2'%3E%3Cpath vector-effect='non-scaling-stroke' d='M30 3095.5h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1350.5.5v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath vector-effect='non-scaling-stroke' fill='%23fff' d='M0 0h1439v620H0z'/%3E%3C/clipPath%3E%3CclipPath id='b'%3E%3Cpath vector-effect='non-scaling-stroke' fill='%23fff' d='M0 616h1439v620H0z'/%3E%3C/clipPath%3E%3CclipPath id='c'%3E%3Cpath vector-effect='non-scaling-stroke' fill='%23fff' d='M0 1236h1439v620H0z'/%3E%3C/clipPath%3E%3CclipPath id='d'%3E%3Cpath vector-effect='non-scaling-stroke' fill='%23fff' d='M0 1856h1439v620H0z'/%3E%3C/clipPath%3E%3CclipPath id='e'%3E%3Cpath vector-effect='non-scaling-stroke' fill='%23fff' d='M0 2476h1439v620H0z'/%3E%3C/clipPath%3E%3CclipPath id='f'%3E%3Cpath vector-effect='non-scaling-stroke' fill='%23fff' d='M0 3092h1439v620H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
		background-repeat: repeat;
		opacity: 0.4;
		pointer-events: none;
		z-index: 2;
	}
}
.view-home {
	&:before {
		@include get-vw(top, 720px, 720px);
		background: linear-gradient(180deg, #C2ECFF 4.69%, #3E83FE 20.31%, #97BDFF 30.73%, #6EBACA 51.13%, #5964D0 61.09%, #F1A7FA 76.46%, #074FCF 100%), #F5FDFF;
	}
	@include bp-767 {
		&:before {
			top: 100vh;
		}
	}
}
.view-collection {
	&:before {
		@include get-vw(top, 394px, 394px);
		background: linear-gradient(180deg, #C2ECFF 4.69%, #3E83FE 20.31%, #97BDFF 30.73%, #6EBACA 43.06%, #5964D0 54.16%, #F1A7FA 66.64%, #074FCF 100%), #F5FDFF;
	}
}
.view-product {
	&:before {
		@include get-vw(top, 800px, 800px);
		background: linear-gradient(180deg, #C2ECFF 15.31%, #5964D0 33.50%, #F1A7FA 61.84%, #074FCF 100%), #F5FDFF;
	}
}
.view-page {
	background: linear-gradient(180deg, #C3EDFF 0%, #F5FDFF 100%);
	footer {
		.footer-marquee, .top {
			height: 0;
			opacity: 0;
			visibility: hidden;
		}
		.top {
			@include get-vw(margin-bottom, 140px, 100px);
		}
		&:before, &:after {
			content: unset;
		}
	}

}
.pink-btn {
	--color: #F5FDFF;
	--color-hover: #EFF0FF;
	--hover-back: #477DFD;
	--hover-front: #00142D;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	color: var(--c, var(--color));
	transition: color .3s 0s $ease-in-out-sine;
	display: flex;
	justify-content: center;
	align-items: center;
	@include get-vw(width, 275px, 230px);
	@include get-vw(height, 58px, 58px);
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-shadow: -2px 2px #00142d;
	-webkit-text-stroke: 1px #00142d;
	text-stroke: 1px #00142d;
	font-family: $ttBlack;
	@include get-vw(font-size, 29px, 29px);
	line-height: .8;
	letter-spacing: -.29px;
	text-transform: uppercase;
	background: #FFA3FF;
	border: 1px solid #000000;
	border-radius: 100px;
	box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.25);
	span:not(.tag) {
		z-index: 3;
		position: relative;
		transform: scale(1) translateZ(0);
		transition: transform .3s $ease-out-sine;
	}
	&:before,
	&:after {
		content: '';
		position: absolute;
		background: var(--pb, var(--hover-back));
		top: 0;
		left: 0;
		right: 0;
		height: 200%;
		border-radius: var(--br, 40%);
		transform: translateY(var(--y, 50%));
		transition: transform var(--d, .35s) $ease-in-out-sine var(--d-d, 0s), border-radius .45s $ease-in-out-sine var(--br-d, .08s);
	}
	&:after {
		--pb: var(--hover-front);
		--d: .39s;
	}
	&:before {
		--d-d: .06s;
	}
	&.blue {
		background: #80ABFF;
		--hover-back: #FFA3FF !important;
		&.active {
			transform: translate3d(1px, 1px, 0px);
			box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
			transition: color .3s .1s $ease-in-out-sine;
			--name: move;
			--c: var(--color-hover);
			span:not(.tag) {
				transform: scale(0.975) translateZ(0);
			}
			&:before,
			&:after {
				--y: 0;
				--br: 0;
			}
			&:before {
				--d-d: 0s;
			}
			&:after {
				--br: 0;
				--d-d: .02s;
			}
		}
	}
	html:not(.touch) & {
		&:hover {
			transform: translate3d(1px, 1px, 0px);
			box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
			transition: color .3s .1s $ease-in-out-sine;
			--name: move;
			--c: var(--color-hover);
			span:not(.tag) {
				transform: scale(0.975) translateZ(0);
			}
			&:before,
			&:after {
				--y: 0;
				--br: 0;
			}
			&:before {
				--d-d: 0s;
			}
			&:after {
				--br: 0;
				--d-d: .02s;
			}
		}
	}
}

.card-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: calc(33.33% - 12px);
	@include get-vw(min-width, 284px, 284px);
	@include get-vw(max-width, 284px, 284px);
	@include get-vw(height, 430px, 430px);
	&.dummy {
		height: 0;
	}
	&.sold-out {
		opacity: 0.4;
		pointer-events: none;
	}
	html:not(.touch) & {
		&:hover {
			> span {
				transform: rotate(3deg);
				.ribbon {
					transform: rotate(45deg) scale(0);
				}
				.tag {
					transform: rotate(-3deg);
				}
				.img-wrapper {
					img:first-of-type {
						opacity: 0;
						visibility: hidden;
					}
				}
				.pink-btn {
					transform: scale(1);
					max-width: 90%;
				}
				.type {
					transform: scale(0);
				}
				.name, .price {
					transform: translateY(-80px);
				}
			}

		}
	}
	> span {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		width: 100%;
		height: 100%;
		padding: 10px 0;
		transform-origin: right bottom;
		transition: all .4s cubic-bezier(.47,1.64,.41,.8);
	}
	.block {
		display: flex;
		border: 8px solid #FFF;
		border-radius: 24px;
		box-shadow: 2px 4px 0px 4px rgba(0, 0, 0, 0.15), 0px 0px 0px 2px #00142D;
		overflow: hidden;
		height: 100%;
		width: 100%;
		position: relative;
	}
	.ribbon {
		position: absolute;
		@include get-vw(height, 136px, 83px);
		width: auto;
		display: flex;
		z-index: 4;
		top: 2px;
		right: -40px;
		transition: all .4s cubic-bezier(.47,1.64,.41,.8);
	}
	.svg-left, .svg-right {
		position: absolute;
		width: auto;
		display: flex;
		z-index: 4;
		@include get-vw(width, 60px, 25px);
		height: auto;
		top: 10px;
	}
	.svg-right {
		right: 0px;
	}
	.svg-left {
		left: 0px;
	}
	.tag {
		position: absolute;
		z-index: 4;
		border-radius: 31px;
		border: 1px solid #00142D;
		top: 0;
		color: #00142D;
		text-align: center;
		font-family: $mencoBlack;
		@include get-vw(font-size, 16px, 12px);
		line-height: 1.45;
		text-transform: uppercase;
		white-space: nowrap;
		@include get-vw(padding-top, 5px, 3px);
		@include get-vw(padding-bottom, 5px, 3px);
		@include get-vw(padding-left, 18px, 10px);
		@include get-vw(padding-right, 18px, 10px);
		transform-origin: left;
		transition: all .4s cubic-bezier(.47,1.64,.41,.8);
		background: #FFE092;
	}
	.img-wrapper {
		position: absolute;
		height: 100%;
		width: 100%;
		display: flex;
		img {
			position: relative;
			z-index: 2;
			@include get-vw(height, 430px, 430px);
			display: flex;
			transition: all .3s $ease-in-out;
			width: 100%;
			&:last-of-type {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
			}
		}
	}
	.block-inner {
		background: linear-gradient(192deg, rgba(14, 21, 29, 0.00) 69.15%, rgba(71, 122, 206, 0.90) 97.28%);
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
		position: relative;
		z-index: 3;
		justify-content: flex-end;
		align-items: center;
		padding-bottom: 20px;
		text-align: center;
		text-transform: uppercase;
	}
	.type {
		font-family: $mencoBlack;
		color: #FFF;
		@include get-vw(font-size, 18px,12px);
		font-style: normal;
		font-weight: 900;
		line-height: 1.45;
		transition: all .4s cubic-bezier(.47,1.64,.41,.8);
	}
	.name {
		color: #FFF;
		font-family: $ttBlack;
		@include get-vw(font-size, 46px, 32px);
		line-height: .91;
		letter-spacing: -0.92px;
		transition: all .4s cubic-bezier(.47,1.64,.41,.8);
		text-shadow: -2px 2px #00142d;
		-webkit-text-stroke: 1px #00142d;
		text-strke: 1px #00142d;
		max-width: 95%;
	}
	.price {
		transition: all .4s cubic-bezier(.47,1.64,.41,.8);
		p {
			color: #E9F7FB;
			font-family: $mencoBlack;
			@include get-vw(font-size, 21px, 16px);
			line-height: 1.45;
		}
		strong {
			font-weight: normal;
			text-decoration-line: line-through;
			opacity: 0.5;
		}
	}
	.pink-btn {
		transform: scale(0);
		transition: all .18s $ease-in-out;
		position: absolute;
		z-index: 4;

	}

	@include bp-959 {
		height: 288px;
		max-width: 184px;
		@include get-vw(min-width, 184px, 170px);
		.img-wrapper {
			img {
				height: 288px;
			}
		}
	}

	@include bp-767 {
		.pink-btn {
			position: relative;
			transform: scale(1);
			font-size: 16px;
			max-width: 90%;
			height: 40px;
			text-shadow: -0.5px 0.5px;
			svg {
				height: 13px;
			}
		}
	}
}

.hero {
	position: relative;
	//max-height: calc((var(--vh, 1vh) * 100));
	@include get-vw(height, 720px, 720px);
	border-bottom: 3px solid #00142D;

	.hero-wrapper {
		display: flex;
		justify-content: space-between;
		overflow: hidden;
		@include get-vw(padding-top, 180px, 150px);
		position: relative;
		height: 100%;
		padding-right: 10px;
	}
	.left {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@include get-vw(max-width, 381px, 381px);
		@include get-vw(gap, 24px, 24px);
		p {
			color: #00142D;
			font-family: $mencoBlack;
			@include get-vw(font-size, 18px, 16px);
			line-height: 1.45;
			text-transform: uppercase;
		}
	}
	.tag {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 41px;
		border: 2px solid #00142D;
		background:  #A9FF99;
		color: #00142D;
		font-family: $mencoBlack;
		@include get-vw(font-size, 16px, 16px);
		line-height: 1.45;
		text-transform: uppercase;
		padding: 0 22px;
		width: auto;
		@include get-vw(height, 35px, 35px);
	}
	h1 {
		color: #FFF;
		text-shadow: -3px 3px #00142d;
		-webkit-text-stroke: 1px #00142d;
		text-stroke: 1px #00142d;
		font-family: $ttBlack;
		//@include get-vw(font-size, 104px, 64px);
		font-size: 104px;
		line-height: .91;
		letter-spacing: -1.4px;
		text-transform: uppercase;
		max-width: 320px;
	}
	.right {
		position: relative;
		@include get-vw(width, 539px, 286px);
		width: 539px;
		height: 539px;
		opacity: 0.9;
	}
	.toy {
		@include get-vw(height, 539px, 286px);
		@include get-vw(bottom, -100px, -60px);
		top: unset;
	}
	.hand {
		right: 140px;
		left: unset;
		bottom: 0;
		top: unset;
		width: auto;
		@include get-vw(height, 750px, 350px);
	}

	@include bp-1200 {
		h1 {
			@include get-vw(font-size, 104px, 64px);
			@include get-vw(max-width, 280px, 280px);
		}
	}

	@include bp-767 {
		height: 100vh;
		.hero-wrapper {
			flex-direction: column;
			padding-right: 16px;
			padding-left: 16px;
		}
		h1 {
			white-space: nowrap;
		}
		.left {
			max-width: 100%;
		}
		.toy {
			width: 286px;
			height: 286px;
			left: unset;
			right: -50%;
		}
	}
}

.block-trio {
	display: flex;
	justify-content: center;
	align-items: center;
	@include get-vw(padding-top, 30px, 12px);
	@include get-vw(padding-bottom, 30px, 12px);
	overflow: hidden;
	.block {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@include get-vw(height, 164px, 164px);
		@include get-vw(width, 270px, 270px);
		&:nth-of-type(2) {
			@include get-vw(height, 150px, 150px);
			@include get-vw(width, 300px, 300px);
			margin-left: 30px;
			margin-right: 20px;
			img {
				@include get-vw(height, 150px, 150px);
			}
		}
		svg:last-of-type {
			display: none;
		}
	}
	svg {
		position: absolute;
		@include get-vw(height, 164px, 164px);
		display: flex;
	}
	.inner {
		position: relative;
		z-index: 2;
		p:first-of-type {
			color: #00142D;
			text-align: center;
			font-family: $mencoBlack;
			@include get-vw(font-size, 18px, 11px);
			line-height: 1.45;
			text-transform: uppercase;
		}
		p:last-of-type {
			color: #FFF;
			text-shadow: -3px 3px #00142d;
			-webkit-text-stroke: 1px #00142d;
			text-stroke: 1px #00142d;
			font-family: $ttBlack;
			@include get-vw(font-size, 96px, 54px);
			line-height: .91;
			letter-spacing: -1.929px;
			text-transform: uppercase;
		}
	}

	@include bp-959 {
		padding: 0 10px;
		.block {
			svg {
				&:first-of-type {
					display: none;
				}
				&:last-of-type {
					display: flex;
				}
			}
		}
	}

	@include bp-767 {
		.block {
			width: 29%;
			&:nth-of-type(2) {
				width: 36%;
				img {
					height: 90px;
				}
			}

		}
		img {
			height: 90px;
		}
	}
}

.best-sellers {
	@include get-vw(padding-bottom, 25px, 25px);
	overflow: hidden;
	position: relative;
	z-index: 3;
	.top {
		display: flex;
		flex-direction: column;
		max-width: 320px;
		justify-content: center;
		margin: 0 auto;
		gap: 8px;
		@include get-vw(padding-bottom, 20px, 20px);
		p {
			color: #00142D;
			text-align: center;
			font-family: $mencoBlack;
			font-size: 18px;
			line-height: 1.45;
			text-transform: uppercase;
		}
	}
	h2 {
		color: #FBF7EB;
		text-shadow: -3px 3px #00142d;
		-webkit-text-stroke: 1px #00142d;
		text-stroke: 1px #00142d;
		font-family: $ttBlack;
		@include get-vw(font-size, 72px, 56px);
		line-height: .91;
		letter-spacing: -1.4px;
		text-transform: uppercase;
		text-align: center;
	}
	.best-sellers-wrapper {
		overflow: visible;
	}
	.slides {
		overflow: visible;
	}
	.inner {
		@include get-vw(gap, 50px, 14px);
		justify-content: center;
		overflow: visible;
	}

	@include bp-767 {
		padding: 0 20px 24px;
		.best-sellers-wrapper {
			padding: 0 0px;
		}
		.inner {
			justify-content: normal;
		}
	}
}

.pudgy-sale {
	display: flex;
	flex-direction: column;
	@include get-vw(padding-top, 25px, 25px);
	.top {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 50px;
	}
	h3 {
		color: #E9F7FB;
		text-shadow: -3px 3px #00142d;
		-webkit-text-stroke: 1px #00142d;
		text-stroke: 1px #00142d;
		font-family: $ttBlack;
		@include get-vw(font-size, 72px, 56px);
		line-height: .91;
		letter-spacing: -1.929px;
		text-transform: uppercase;
	}
	.eyebrow {
		color: #00142D;
		font-family: $mencoBlack;
		font-size: 18px;
		line-height: 1.45;
		text-transform: uppercase;
		margin-bottom: 6px;
	}
	.blocks {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		@include get-vw(row-gap, 30px, 17px);
		@include get-vw(column-gap, 25px, 0px);
		@include get-vw(padding-left, 40px, 0px);
		@include get-vw(padding-right, 40px, 0px);
	}

	@include bp-767 {
		padding-left: 10px;
		padding-right: 10px;
		.blocks {
			padding: 0;
			justify-content: space-between;
		}
		.card-wrapper {
			min-width: 0;
			width: calc(50% - 5px);
		}
	}

}

.fifty-fifty-tiles {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	@include get-vw(padding-top, 20px, 20px);
	@include get-vw(padding-bottom, 30px, 30px);
	.tile-wrapper {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		@include get-vw(gap, 28px, 18px);
		@include get-vw(margin-bottom, 40px, 30px);
		@include get-vw(padding-left, 60px, 0px);
		@include get-vw(padding-right, 60px, 0px);
		width: 100%;
	}
	.tile {
		max-width: calc(50% - 14px);
		@include get-vw(width, 452px, 353px);
		position: relative;
		overflow: visible;
		@include get-vw(height, 536px, 443px);
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.frame {
		display: flex;
		position: absolute;
		top: 50%;
		left: 50%;
		width: auto;
		transform: translate(-50%, -50%);
		@include get-vw(height, 560px, 450px);
	}
	.tile-inner {
		background: #FFF;
		@include get-vw(height, 536px, 420px);
		border-radius: 20px;
		overflow: hidden;
		width: calc(100% - 16px);
	}
	.top {
		display: flex;
		@include get-vw(height, 300px, 240px);
		border-radius: 11px;
		border: 3px solid var(--oxford-blue, #00142D);
		overflow: hidden;
		img {
			@include get-vw(height, 300px, 240px);
			width: 100%;
			display: flex;
		}
	}
	.tag {
		border-radius: 31.555px;
		border: 1px solid #00142D;
		background: #FFE092;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px 18px;
		color: #00142D;
		text-align: center;
		font-family: $mencoBlack;
		@include get-vw(font-size, 16px, 12px);
		line-height: 1.45;
		text-transform: uppercase;
		position: absolute;
		right: 30px;
		top: 30px;
	}
	.bottom {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 24px 30px;
	}
	.title {
		color: #00142D;
		font-family: $ttBlack;
		@include get-vw(font-size, 46px, 32px);
		line-height: .91;
		letter-spacing: -0.92px;
		text-transform: uppercase;
		margin-bottom: 9px;
	}
	.copy {
		color: #00142D;
		font-family: $mencoMedium;
		@include get-vw(font-size, 17px, 15px);
		line-height: 1.45;
		margin-bottom: 15px;
	}
	@include bp-767 {
		padding: 0;
		.tile-wrapper {
			flex-direction: column;
			padding: 0;
		}
		.tile {
			width: 100%;
			max-width: 100%;
		}
		.tile-inner {
			max-width: 370px;
			width: 100%;
		}
	}
}

.video-trio {
	display: flex;
	flex-direction: column;
	@include get-vw(padding-top, 30px, 30px);
	@include get-vw(padding-bottom, 30px, 30px);
	overflow: hidden;
	.tag {
		color: #00142D;
		text-align: center;
		font-family: $mencoBlack;
		@include get-vw(font-size, 18px, 16px);
		line-height: 1.45;
		text-transform: uppercase;
		margin-bottom: 6px;
	}
	h4 {
		color: #E9F7FB;
		text-shadow: -3px 3px #00142d;
		-webkit-text-stroke: 1px #00142d;
		text-stroke: 1px #00142d;
		font-family: $ttBlack;
		@include get-vw(font-size, 72px, 56px);
		line-height: .91;
		letter-spacing: -1.929px;
		text-transform: uppercase;
		@include get-vw(margin-bottom, 35px, 30px);
		text-align: center;
	}
	.slider {
		overflow: visible;
	}
	.slides {
		overflow: visible;
	}
	.inner {
		padding: 10px;
		justify-content: center;
		gap: 24px;
	}
	.video-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
		border-radius: 22px;
		width: calc(33.33% - 16px);
		transition: all .4s cubic-bezier(.47,1.64,.41,.8);
		@include get-vw(height, 550px, 528px);
		min-width: 297px;
		max-width: 297px;
		overflow: hidden;
		&:after {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			pointer-events: all;
		}
		html:not(.touch) & {
			&:hover {
				transform: scale(0.98);
				&:after {
					transform: scale(1.1);
				}
				.play {
					background: transparent;
					svg {
						transform: scale(0.8);
					}
				}
			}
		}
	}
	.play {
		position: absolute;
		display: flex;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		background: linear-gradient(154deg, rgba(194, 236, 255, 0.50) 0%, rgba(71, 125, 253, 0.50) 100%);
		border-radius: 22px;
		transition: all .2s $ease-in-out;
		z-index: 2;
		svg {
			display: flex;
			width: auto;
			height: 98px;
			transition: all .4s cubic-bezier(.47,1.64,.41,.8);
		}
	}
	video {
		border-radius: 22px;
		@include get-vw(height, 550px, 528px);
		width: auto;
		left: 50%;
		transform: translateX(-50%);
	}

	@include bp-767 {
		padding-left: 30px;
		padding-right: 30px;
		h4 {
			text-shadow: -2px 2px;
		}
		.inner {
			justify-content: normal;
		}
		.video-wrapper {
			min-width: 75vw;
			max-width: 80vw;
		}
	}
}

.bottom-marquee {
	display: flex;
	flex-direction: column;
	@include get-vw(padding-top, 28px, 28px);
	@include get-vw(padding-bottom, 90px, 90px);
	position: relative;
	overflow: hidden;
	h4 {
		color: #00142D;
		text-align: center;
		font-family: $mencoBlack;
		@include get-vw(font-size, 18px, 16px);
		line-height: 1.45;
		text-transform: uppercase;
		margin-bottom: 29px;
	}
	img {
		display: flex;
		//width: 100%;
		height: 52px;
		margin-right: 48px;
	}
	.marquee {
		overflow: hidden;
	}
	.group {
		align-items: center;
		margin-right: 48px;
	}

	@include bp-767 {
		&:after, &:before {
			display: none;
		}
	}
}

footer {
	z-index: 2;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	@include get-vw(padding-left, 180px, 100px);
	@include get-vw(padding-right, 180px, 100px);
	@include get-vw(padding-bottom, 30px, 27px);
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 2;
		@include get-vw(height,  1170px, 927px);
		background: linear-gradient(181deg, rgba(16, 16, 16, 0.00) 0%, #436AC8 50%);
		pointer-events: none;
	}
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' class='svg-grid' viewBox='0 0 1439 3712'%3E%3Cg stroke='%23E1DDEC' clip-path='url(%23a)' opacity='.2'%3E%3Cpath vector-effect='non-scaling-stroke' d='M30 3.5h1380M30 47.5h1380M30 91.5h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380M59.5 620V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4'/%3E%3C/g%3E%3Cg stroke='%23E1DDEC' clip-path='url(%23b)' opacity='.2'%3E%3Cpath vector-effect='non-scaling-stroke' d='M30 619.5h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1350.5.5V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620'/%3E%3C/g%3E%3Cg stroke='%23E1DDEC' clip-path='url(%23c)' opacity='.2'%3E%3Cpath vector-effect='non-scaling-stroke' d='M30 1239.5h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1350.5.5v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616'/%3E%3C/g%3E%3Cg stroke='%23E1DDEC' clip-path='url(%23d)' opacity='.2'%3E%3Cpath vector-effect='non-scaling-stroke' d='M30 1859.5h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1350.5.5v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616'/%3E%3C/g%3E%3Cg stroke='%23E1DDEC' clip-path='url(%23e)' opacity='.2'%3E%3Cpath vector-effect='non-scaling-stroke' d='M30 2479.5h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1350.5.5v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616'/%3E%3C/g%3E%3Cg stroke='%23E1DDEC' clip-path='url(%23f)' opacity='.2'%3E%3Cpath vector-effect='non-scaling-stroke' d='M30 3095.5h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1350.5.5v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath vector-effect='non-scaling-stroke' fill='%23fff' d='M0 0h1439v620H0z'/%3E%3C/clipPath%3E%3CclipPath id='b'%3E%3Cpath vector-effect='non-scaling-stroke' fill='%23fff' d='M0 616h1439v620H0z'/%3E%3C/clipPath%3E%3CclipPath id='c'%3E%3Cpath vector-effect='non-scaling-stroke' fill='%23fff' d='M0 1236h1439v620H0z'/%3E%3C/clipPath%3E%3CclipPath id='d'%3E%3Cpath vector-effect='non-scaling-stroke' fill='%23fff' d='M0 1856h1439v620H0z'/%3E%3C/clipPath%3E%3CclipPath id='e'%3E%3Cpath vector-effect='non-scaling-stroke' fill='%23fff' d='M0 2476h1439v620H0z'/%3E%3C/clipPath%3E%3CclipPath id='f'%3E%3Cpath vector-effect='non-scaling-stroke' fill='%23fff' d='M0 3092h1439v620H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
		background-repeat: repeat;
		opacity: 0.4;
	}
	.top {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 6px;
		@include get-vw(margin-bottom, 635px, 635px);
	}
	.tag {
		color: #00142D;
		text-align: center;
		font-family: $mencoBlack;
		font-size: 18px;
		line-height: 1.45;
		text-transform: uppercase;
	}
	.footer-header {
		color: #FBE9F3;
		text-shadow: -3px 3px #00142d;
		-webkit-text-stroke: 1px #00142d;
		text-stroke: 1px #00142d;
		font-family: $ttBlack;
		@include get-vw(font-size, 72px, 56px);
		line-height: .91;
		letter-spacing: -1.44px;
		text-transform: uppercase;
		text-align: center;
	}
	.footer-marquee {
		position: absolute;
		@include get-vw(top, 150px, 150px);
		z-index: 1;
	}
	.inner {
		align-items: flex-start !important;
	}
	.block-wrapper {
		display: flex;
		flex-direction: column;
		@include get-vw(gap, 30px, 30px);
		@include get-vw(margin-right, 33px, 33px);
		&:nth-of-type(even) {
			@include get-vw(padding-top, 61px, 61px);
		}
	}
	.block {
		@include get-vw(width, 281px, 281px);
		@include get-vw(height, 293px, 293px);
		border-radius: 24px;
		border: 4px solid #00142D;
		background: #FFF;
		box-shadow: 8px 10px #00142D;
		overflow: hidden;
		position: relative;
		padding: 162px 25px 20px;
		transition: all .4s cubic-bezier(.47,1.64,.41,.8);
		transform-origin: right bottom;
		html:not(.touch) & {
			&:hover {
				transform: rotate(5deg);
			}
		}
		img:first-of-type {
			@include get-vw(height, 170px, 170px);
			max-height: 170px;
			display: flex;
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
		}
	}
	.top-block {
		display: flex;
		align-items: center;
		position: relative;
		z-index: 2;
		.img-wrapper {
			position: relative;
			display: flex;
			@include get-vw(width, 60px, 60px);
			@include get-vw(height, 60px, 60px);
			@include get-vw(margin-right, 10px, 10px);
			img {
				@include get-vw(height, 60px, 60px);
				width: auto;
				display: flex;
			}
		}
		.text-wrapper {
			display: flex;
			flex-direction: column;
			p:first-of-type {
				color: #000;
				font-family: $ttBlack;
				font-size: 18px;
				line-height: .91;
				letter-spacing: -0.36px;
				text-transform: uppercase;
			}
			p:last-of-type {
				color: #477DFD;
				font-family: $mencoBlack;
				font-size: 10px;
				line-height: 1.45;
				text-transform: uppercase;
			}
		}
	}
	.copy {
		color: #00142D;
		font-family: $mencoMedium;
		font-size: 16px;
		line-height: 1.45;
		text-transform: uppercase;
	}
	.bottom {
		position: relative;
		z-index: 3;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 1400px;
		width: 100%;
		border-radius: 24px;
		border: 8px solid #FFF;
		background: linear-gradient(180deg, #477DFD 0%, #8EA9E9 39.20%, #5485F9 100%);
		box-shadow: 2px 4px 0px 4px rgba(0, 0, 0, 0.15), 0px 0px 0px 2px #00142D;
		@include get-vw(padding-top, 100px, 100px);
		@include get-vw(padding-bottom, 36px, 34px);
		@include get-vw(padding-left, 50px, 20px);
		@include get-vw(padding-right, 50px, 20px);
		@include get-vw(margin-bottom, 35px, 20px);
	}
	.pengu-logo {
		display: flex;
		@include get-vw(height, 142px, 142px);
		width: auto;
		position: absolute;
		top: 0;
		transform: translateY(-50%);
	}
	.svg-left {
		display: flex;
		position: absolute;
		z-index: 4;
		top: -15px;
		left: 0;
		width: auto;
	}
	.svg-right {
		display: flex;
		position: absolute;
		z-index: 4;
		top: -15px;
		right: 0;
		width: auto;
	}
	.images {
		display: flex;
		@include get-vw(gap, 9px, 5px);
		@include get-vw(margin-bottom, 40px, 35px);
		svg {
			display: flex;
			@include get-vw(width, 140px, 140px);
			@include get-vw(height, 144px, 144px);
		}
	}
	.links {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		@include get-vw(gap, 32px, 10px);
		@include get-vw(margin-bottom, 52px, 37px);
		a {
			color: #fff;
			text-shadow: -2px 2px #00142d;
			-webkit-text-stroke: 1px #00142d;
			text-stroke: 1px #00142d;
			font-family: $ttBlack;
			@include get-vw(font-size, 40px, 40px);
			line-height: .91;
			letter-spacing: -0.96px;
			text-transform: uppercase;
			white-space: nowrap;
			transition: all .25s $ease-in-out-sine;
			position: relative;
			html:not(.touch) & {
				&:hover {
					color: #c5fbff;
					text-shadow: 0px 0px;
					transform: translate3d(-2px, 2px, 0);

				}
			}
		}
	}
	.socials {
		display: flex;
		@include get-vw(gap, 10px, 10px);
		a {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			transition: all .4s cubic-bezier(.47,1.64,.41,.8);
			html:not(.touch) & {
				&:hover {
					transform: translateY(-5px);
					img {
						&:first-of-type {
							opacity: 0;
							visibility: hidden;
						}
						&:last-of-type {
							opacity: 1;
						}
					}
				}
			}
		}
		.text-wrapper {
			border-radius: 11px;
			border: 2px solid #A7D9FF;
			background: #E5F2FF;
			box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
			@include get-vw(padding-top, 7px, 4px);
			@include get-vw(padding-bottom, 7px, 4px);
			@include get-vw(padding-left, 16px, 11px);
			@include get-vw(padding-right, 16px, 11px);
			margin-top: 5px;
			p {
				text-align: center;
				font-family: $mencoBlack;
				text-transform: uppercase;
				color: #00142D;
				@include get-vw(font-size, 12px, 8px);
				line-height: 1.45;
			}
			strong {
				color: #5F83CF;
				@include get-vw(font-size, 16px, 11px);
				line-height: .95;
			}
		}
		img {
			@include get-vw(height, 105px, 74px);
			display: flex;
			width: auto;
			transition: all .2s $ease-in-out-sine;
			position: relative;
			&:first-of-type {
				z-index: 2;
			}
			&:last-of-type {
				position: absolute;
				top: 0;
				z-index: 1;
				opacity: 0;
			}
		}
	}
	.utility-links {
		display: flex;
		justify-content: center;
		@include get-vw(gap, 50px, 12px);
		position: relative;
		z-index: 4;
		p, a {
			color: #80ABFF;
			text-align: center;
			font-family: $mencoBlack;
			font-size: 18px;
			line-height: 1.45;
			text-transform: uppercase;
			transition: all .2s $ease-in;
		}
		a {
			html:not(.touch) & {
				&:hover {
					color: #c5fbff;
				}
			}
		}
	}
	.footer-address {
		color: #E9F7FB;
		text-align: center;
		font-family: $mencoBlack;
		font-size: 18px;
		line-height: 1.45;
		text-transform: uppercase;
		max-width: 305px;
		transition: all .2s $ease-in;
		@include get-vw(margin-top, 40px, 25px);
		html:not(.touch) & {
			&:hover {
				color: #c5fbff;
			}
		}
	}

	@include bp-767 {
		padding-left: 5px;
		padding-right: 5px;
		.block {
			width: 220px;
			height: 230px;
			padding: 125px 20px 16px;
			img:first-of-type {
				height: 130px;
			}
		}
		.top-block {
			.img-wrapper {
				width: 40px;
				height: 40px;
				img {
					height: 40px;
				}
			}
			.text-wrapper {
				p:first-of-type {
					font-size: 14px;
				}
				p:last-of-type {
					font-size: 8px;
				}
			}
		}
		.copy {
			font-size: 12px;
			line-height: 1;
		}
		.bottom {
			max-width: 99%;
		}
		.images {
			svg {
				width: 78px;
				height: 81px;
			}
		}
		.links {
			justify-content: flex-start;
			a {
				width: calc(50% - 5px);
				&:nth-of-type(even) {
					padding-left: 20px;
				}
			}
		}
		.utility-links {
			padding: 0 20px;
			flex-wrap: wrap;
			justify-content: space-between;
			p {
				width: 100%;
			}
		}
	}
}

.collection-hero {
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	@include get-vw(padding-bottom, 50px, 50px);
	@include get-vw(gap, 17px, 10px);
	background: linear-gradient(162deg, #477DFD 0%, #94DBFF 100%);
	@include get-vw(height, 394px, 394px);
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' class='svg-grid' viewBox='0 0 1439 3712'%3E%3Cg stroke='%23E1DDEC' clip-path='url(%23a)' opacity='.2'%3E%3Cpath vector-effect='non-scaling-stroke' d='M30 3.5h1380M30 47.5h1380M30 91.5h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380M59.5 620V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4'/%3E%3C/g%3E%3Cg stroke='%23E1DDEC' clip-path='url(%23b)' opacity='.2'%3E%3Cpath vector-effect='non-scaling-stroke' d='M30 619.5h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1350.5.5V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620'/%3E%3C/g%3E%3Cg stroke='%23E1DDEC' clip-path='url(%23c)' opacity='.2'%3E%3Cpath vector-effect='non-scaling-stroke' d='M30 1239.5h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1350.5.5v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616'/%3E%3C/g%3E%3Cg stroke='%23E1DDEC' clip-path='url(%23d)' opacity='.2'%3E%3Cpath vector-effect='non-scaling-stroke' d='M30 1859.5h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1350.5.5v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616'/%3E%3C/g%3E%3Cg stroke='%23E1DDEC' clip-path='url(%23e)' opacity='.2'%3E%3Cpath vector-effect='non-scaling-stroke' d='M30 2479.5h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1350.5.5v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616'/%3E%3C/g%3E%3Cg stroke='%23E1DDEC' clip-path='url(%23f)' opacity='.2'%3E%3Cpath vector-effect='non-scaling-stroke' d='M30 3095.5h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1350.5.5v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath vector-effect='non-scaling-stroke' fill='%23fff' d='M0 0h1439v620H0z'/%3E%3C/clipPath%3E%3CclipPath id='b'%3E%3Cpath vector-effect='non-scaling-stroke' fill='%23fff' d='M0 616h1439v620H0z'/%3E%3C/clipPath%3E%3CclipPath id='c'%3E%3Cpath vector-effect='non-scaling-stroke' fill='%23fff' d='M0 1236h1439v620H0z'/%3E%3C/clipPath%3E%3CclipPath id='d'%3E%3Cpath vector-effect='non-scaling-stroke' fill='%23fff' d='M0 1856h1439v620H0z'/%3E%3C/clipPath%3E%3CclipPath id='e'%3E%3Cpath vector-effect='non-scaling-stroke' fill='%23fff' d='M0 2476h1439v620H0z'/%3E%3C/clipPath%3E%3CclipPath id='f'%3E%3Cpath vector-effect='non-scaling-stroke' fill='%23fff' d='M0 3092h1439v620H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
		background-repeat: repeat;
		opacity: 0.6;
	}
	h1 {
		color: #FFF;
		text-shadow: -3px 3px #00142d;
		-webkit-text-stroke: 2px #00142d;
		text-stroke: 2px #00142d;
		font-family: $ttBlack;
		@include get-vw(font-size, 104px, 64px);
		line-height: .91;
		letter-spacing: -1.4px;
		text-transform: uppercase;
	}
	p {
		color: #00142D;
		text-align: center;
		font-family: $mencoBlack;
		@include get-vw(font-size, 18px, 16px);
		line-height: 1.45;
		text-transform: uppercase;
		max-width: 687px;
	}

	@include bp-767 {
		padding-right: 24px;
		padding-left: 24px;
	}
}
.collection-grid {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	z-index: 2;
	border-top: 3px solid #00142D;
	background: linear-gradient(0deg, rgba(255,255,255,0) 60%, rgba(194,236,255,1) 100%);
	@include get-vw(padding-left, 240px, 100px);
	@include get-vw(padding-right, 240px, 100px);
	@include get-vw(padding-top, 40px, 17px);
	@include get-vw(padding-bottom, 40px, 17px);
	.filters {
		display: flex;
		justify-content: center;
		@include get-vw(padding-bottom, 48px, 24px);
		@include get-vw(gap, 11px, 11px);
	}
	.grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		row-gap: 35px;
		@include get-vw(row-gap, 35px, 15px);
		@include get-vw(column-gap, 20px, 0px);
		max-width: 1200px;
		width: 100%;
	}
	.filters-wrapper {
		position: relative;
		width: 100%;
		height: 58px;
		margin-bottom: 30px;
		z-index: 2;
	}
	.filters-mobile {
		display: none !important;
		align-items: center;
		flex-direction: column;
		width: 100%;
		position: absolute;
		top: 0;
		border-radius: 53px;
		background: #E9F7FB;
		border: 1px solid #00142D;
		box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.25);
		.label {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 58px;
			gap: 10px;
			margin-bottom: 15px;
			color: #F5FDFF;;
			text-shadow: -1px 1px #00142d;
			-webkit-text-stroke: 1px #00142d;
			text-stroke: 1px #00142d;
			font-family: $ttBlack;
			font-size: 29px;
			line-height: .80;
			letter-spacing: -0.01em;
			text-transform: uppercase;
		}
		.drawer-items {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 24px;
			//border: 1px solid #00142D;
			//border-radius: 13px;
			//background: #E9F7FB;
		}
	}

	@include bp-1200 {
		padding-right: 10px;
		padding-left: 10px;
	}

	@include bp-767 {
		align-items: flex-start;
		.filters {
			display: none;
		}
		.filters-mobile {
			display: flex !important;
		}
		.grid {
			position: sticky;
			left: 0;
			justify-content: space-between;
		}
		.card-wrapper {
			min-width: calc(50% - 5px);
		}
	}
}

.spaced-section {
	@include get-vw(padding-top, 180px, 170px);
	padding-left: 20px;
	padding-right: 20px;
	.utility-page {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.body {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		@include get-vw(max-width, 700px, 700px);
	}
	h1 {
		color: #FFF;
		text-align: center;
		text-shadow: -3px 3px #00142D;
		text-strke: 2px #00142d;
		-webkit-text-stroke: 2px #00142d;
		font-family: $ttBlack;
		@include get-vw(font-size, 104px, 64px);
		line-height: .91;
		letter-spacing: -2px;
		text-transform: uppercase;
		@include get-vw(margin-bottom, 64px, 24px);
	}

	h2, h3, h4 {
		color: #FFF;
		text-shadow: -2px 2px #00142D;
		font-family: $ttBlack;
		@include get-vw(font-size, 46px, 32px);
		line-height: .91;
		letter-spacing: -0.92px;
		text-transform: uppercase;
		text-strke: 1px #00142d;
		-webkit-text-stroke: 1px #00142d;
		@include get-vw(margin-bottom, 24px, 24px);
	}

	p {
		color: #00142D;
		font-family: $mencoBlack;
		@include get-vw(font-size, 18px, 16px);
		line-height: 1.45;
		text-transform: uppercase;
	}
	p + p {
		@include get-vw(margin-bottom, 24px, 24px);
	}
	p + h2 {
		@include get-vw(margin-top, 24px, 0px);
	}
	p + h3 {
		@include get-vw(margin-top, 24px, 0px);
	}
	p + h4 {
		@include get-vw(margin-top, 24px, 0px);
	}

	@include bp-767 {
		h1 {
			text-shadow: -2px 2px #00142D;
			text-strke: 1px #00142d;
			-webkit-text-stroke: 1px #00142d;
		}
		h2, h3, h4 {
			text-shadow: -1px 1px #00142D;
		}
	}
}
