/*
	This file is to store the minimum css needed to
	render the page upon first load. Anything that
	javascript needs to measure will need to be set
	in this file as well, for example: height or width
	measurements.

	The DOM file load order will look like:

	_fonts.css
	_init.css
	main.js
	main.css

-------------------------------------------------- */
@import "/normalize";
@import "../abstracts/variables";
@import "../abstracts/mixins";

/* 	Init CSS
-------------------------------------------------- */

/* Box sizing */
* {
	box-sizing: border-box;
}

/* Font anti-aliasing in browsers that support it */
html,
html a {
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
}

html {
	width: 100%;

	&.touch {
		overflow-x: hidden;
	}
}

body {
	overflow-x: hidden;
	width: 100%;
}

#main {

}

#global-mask, #event-mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: #fafafa;
	pointer-events: none;
}

#global-loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 110;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fafafa;
}
.preload-critical {
	opacity: 0;
	transition: .25s opacity $ease-in-out-sine;
	transform: translateZ(0);
	&.loaded {
		opacity: 1;
	}
}
.slider {
	width: 100%;
	.inner {
		display: flex;
		width: 100%;
	}
	.slides {
		width: 100%;
		overflow: hidden;
	}
	.slide {
		position: relative;
	}
}
.tab-wrapper {
	position: relative;
	.tab {
		color: $black;
		position: absolute;
		visibility: hidden;
		opacity: 0;
		top: 0;
		transition: opacity .3s $ease-in-out-sine, visibility 0s 0.3s;
		&.is-selected {
			transition: opacity .4s .15s $ease-in-out-sine, visibility 0s .15s;
			visibility: visible;
			opacity: 1;
			position: relative;
		}
	}
	&.no-fade {
		.tab {
			transition: none;
			&.is-selected {
				transition: none;
			}
		}
	}
}

.mobile-only {
	display: none;
	@media (max-width: 767px) {
		display: flex;
	}
}
.desktop-only {
	@media (max-width: 767px) {
		display: none;
	}
}

.sr-only {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}
.bg {
	position: absolute;
	top: 0;
	left: 0;
	//z-index: 3;
	height: 100%;
	background-position: center;
	background-size: cover;
	width: 100%;
}

.ar-wrapper {
	padding-bottom: var(--dar);
	height: 0;
	width: 100%;
	position: relative;
	img, video {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		object-fit: cover;
	}
	@include bp-767 {
		padding-bottom: var(--mar);
	}
}
.hammy-wrapper {
	position: relative;
	display: flex;
	align-items: center;
}
.hammy {
	position: relative;
	margin-right: 4px;
	pointer-events: all;
	&::after {
		content: " ";
		width: 105px;
		height: 35px;
		left: -100%;
		top: -100%;
		position: absolute;
	}
	svg {
		overflow: visible;
	}
}
.hammy-text {
	pointer-events: all;
	position: relative;
	align-items: center;
	font-family: $neueMed;
	font-size: 12px;
	line-height: 1.16;
	text-transform: uppercase;
	span {
		position: absolute;
		&:last-child {
			opacity: 0;
			visibility: hidden;
		}
	}
}
.text-link {
	font-family: $neueMed;
	font-size: 16px;
	line-height: 1.38;
	letter-spacing: -0.03em;
	text-transform: uppercase;
	color: #000000;
	white-space: nowrap;
	position: relative;
	display: flex;
	align-items: center;
}
#header {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	pointer-events: none;
	a, button {
		pointer-events: all;
	}
	#nav {
		background: #FFFFFF;
		z-index: 101;
		width: 100%;
		// display: none;
		align-items: center;
		justify-content: space-between;
		height: 66px;
		position: relative;
		opacity: 0;
		visibility: hidden;
		&::after {
			height: 0.5px;
			width: 100%;
			left: 0;
			bottom: 0;
			position: absolute;
			content: ' ';
			background: #000000;
		}
		.logo {
			@include get-vw(height, 30px, 30px);
			img {
				display: flex;
				@include get-vw(height, 30px, 30px);
			}
		}
		button {
			font-family: $neueMed;
			font-size: 16px;
			line-height: 1.38;
			letter-spacing: -0.03em;
			text-transform: uppercase;
			color: #000000;
			white-space: nowrap;
		}
		.left {
			display: flex;
			align-items: center;
			svg {
				width: 41px;
				height: 34px;
				margin-right: 39px;
			}
			a {
				margin-right:  32px;
			}
		}
		.right {
			display: flex;
			align-items: center;
			gap: 32px;
		}
		.mini-cart-trigger {
			position: relative;
			display: flex;
			align-items: center;
			svg {
				width: 17px;
				height: 20px;
				margin-left: 8px;
				position: relative;
				top: -3px;
			}
		}

		@include bp-767 {
			height: 62px;
			.left {
				display: none;
			}
			.right {
				a {
					display: none;
				}
			}
			a, button {
				font-size: 12px;
			}
			.mini-cart-trigger {
				svg {
					margin-left: 5.5px;
				}
			}
			.logo {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
	#nav-home {
		padding-top: 16px;
		padding-bottom: 16px;
		position: sticky;
		top: 0;
		z-index: 101;
		width: 100%;
		display: none;
		align-items: flex-start;
		opacity: 0;
		visibility: hidden;
		display: none;
		a, button {
			position: relative;
			font-family: $neueMed;
			font-size: 16px;
			line-height: 0.625;
			letter-spacing: -0.03em;
			text-transform: uppercase;
			color: #000000;
			white-space: nowrap;
			display: flex;
			align-items: center;
			width: fit-content;
		}
		button {
			svg {
				margin-left: 8px;
			}
		}
		.left {
			display: flex;
			align-items: flex-start;
		}
		.right {
			display: flex;
			flex-direction: column;
			margin-left: auto;
		}
		.nav-links {
			position: relative;
			display: flex;
			flex-direction: column;
			gap: 16px;
			white-space: nowrap;
			bottom: -2px;
		}
		img {
			width: 422px;
			height: 127px;
			@include get-vw(margin-right, 58px);
			object-fit: contain;
		}
		.mini-cart-trigger {
			display: flex;
			align-items: center;
		}
		@include bp-767 {
			flex-wrap: wrap;
			padding-bottom: 0;
			img {
				width: 100%;
				height: 103px;
				margin-bottom: 24px;
				margin-right: unset;
			}
		}
	}
}

#footer {
	.top {
		border-top: 1px solid #000000;
		border-bottom: 1px solid #000000;

		display: flex;

	}
	.box {
		width: 25%;
		@include get-vw(height, 150px, 150px);
		@include get-vw(gap, 26px, 18px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-right: 1px solid #000000;
		padding: 16px;
		&:last-of-type {
			border-right: none;
		}
		img {
			@include get-vw(height, 50px, 50px);
		}
		p {
			font-family: $neueReg;
			font-size: 14px;
			line-height: 1.21;
			text-align: center;
			text-transform: uppercase;
			color: #000000;
		}
	}
	.footer-wrapper {
		padding-top: 24px;
		@include get-vw(padding-bottom, 180px, 24px);
		justify-content: space-between;
		align-items: flex-start;
	}
	.left {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		@include get-vw(gap, 50px, 25px);
		&:before {
			display: none;
			content: '';
			width: calc(100% + 32px);
			height: 1px;
			background: #000000;
			position: absolute;
			top: 0;
			left: -16px;
		}
	}
	.column {
		display: flex;
		flex-direction: column;
		position: relative;
		.text {
			padding: 8px 0;
			position: relative;
			transition: all .22s $ease-out-sine;
			display: flex;
			align-items: center;
			width: fit-content;
			text-transform: uppercase;
			font-size: 14px;
			font-family: $neueReg;
			color: #797979;
		}
	}
	.title {
		font-family: $neueMed;
		font-size: 16px;
		align-items: center;
		letter-spacing: -0.03em;
		text-transform: uppercase;
		color: #000000;
		margin-bottom: 16px;
	}
	.right {
		max-width: 371px;
		display: flex;
		flex-direction: column;
		.text {
			margin-bottom: 24px;
			font-size: 16px;
			font-family: $neueReg;
			line-height: 1.21;
			color: #797979;
		}
	}
	.btn {
		width: 160px;
	}
	.bottom {
		.text {
			text-transform: uppercase;
			font-size: 14px;
			font-family: $neueReg;
			line-height: 1.21;
			color: #797979;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		justify-content: space-between;
		@include get-vw(padding-bottom, 24px, 16px);
	}

	@include bp-959 {
		.left {
			gap: 0;
			row-gap: 20px;
		}
		.column {
			width: 50%;

		}
	}

	@include bp-767 {

		.top {
			flex-direction: column;
		}
		.box {
			width: 100%;
			border-right: none;
			border-bottom: 1px solid #000000;
			height: auto;
			justify-content: flex-start;
			flex-direction: row;
			&:last-of-type {
				border-bottom: none;
			}
		}
		.footer-wrapper {
			padding-top: 32px;
			flex-direction: column-reverse;
			//border-bottom: 1px solid #000000;
			padding-bottom: 0;
			overflow: hidden;
		}
		.right {
			align-items: center;
			text-align: center;
			margin-bottom: 32px;
			max-width: 100%;
			.title {
				margin-bottom: 24px;
			}
		}
		.btn {

			width: 100%;
		}
		.left {
			width: 100%;
			row-gap: 0;
			&:before {
				display: flex;
			}
		}
		.column {
			padding: 24px 0 16px;
			min-height: 200px;
			&:nth-of-type(even) {
				padding-left: 32px;
				border-left: 1px solid #000000;
			}
			span {
				position: absolute;
				height: 1px;
				width: calc(200% + 32px);
				bottom: 0;
				left: -16px;
				background: #000000;
			}
		}
		.bottom {
			padding-top: 24px;
			.text {
				font-size: 12px;
			}
		}
	}
}


.c-24 {
	width: 100%;
	margin: 0 auto;
	@include get-vw(padding-left, 24px);
	@include get-vw(padding-right, 24px);
	display: flex;
	align-items: center;
	position: relative;
	//max-width: 1800px;
	@include bp-1024 {
		padding: 0 20px;
	}

	@include bp-959 {
		padding: 0 16px;
	}

}

.btn {
	width: fit-content;
	height: 49px;
	background: #000000;
	border-radius: 3px;
	font-family: $neueReg;
	font-size: 14px;
	line-height: 1.21;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid transparent;
	transition: all 0.22s $ease-in-out-sine;
	&.black {
		color: #FFFFFF;
		background: #000000;
	}
	&.white {
		color: #000000;
		background: #FFFFFF;
	}
	&.secondary {
		border: 1px solid #000000;
	}
	html:not(.touch) & {
		&:hover {
			&.white {
				color: #FFFFFF;
				background: #000000;
				border-color: #000000;
			}
			&.black {
				color: #000000;
				background: #FFFFFF;
				border-color: #000000;
			}
		}
	}
}

.marquee {
	display: flex;
	position: relative;
	width: 100%;
	align-items: center;
	.inner {
		display: flex;
		position: relative;
		align-items: center;
		flex-wrap: nowrap;
		width: 100%;
	}
	.group {
		display: flex;
		flex-wrap: nowrap;
	}
}


.utility-page {
	flex-direction: column;
	@include get-vw(padding-top, 130px, 94px);
	@include get-vw(padding-bottom, 80px, 48px);
	.header {
		font-family: $neueMed;
		@include get-vw(font-size, 48px, 24px);
		line-height: 1;
		text-align: center;
		letter-spacing: -0.02em;
		text-transform: uppercase;
		color: #000000;
		@include get-vw(margin-bottom, 64px, 32px);
	}
	.body {
		display: flex;
		flex-direction: column;
		max-width: 528px;
		h1, h2, h3, h4 {
			font-family: $neueMed;
			font-size: 16px;
			letter-spacing: -0.02em;
			text-transform: uppercase;
			color: #000000;
			margin-bottom: 16px;
		}
		p + h1, h2, h3, h4 {
			margin-top: 16px;
		}
		h1 {
			margin-top: unset;
		}
		p, li, a {
			font-family: $neueReg;
			font-size: 16px;
			line-height: 1.25;
			color: #828282;
			margin-bottom: 16px;
		}
		a {
			text-decoration: underline;
		}
	}
}


input {
	width: 100%;
	border: 1px solid #E0E0E0;
	border-radius: 3px;
	padding: 16px;
	margin-bottom: 8px;
	transition: all .3s $ease-in-out-sine;
	font-family: $neueReg;
	font-size: 14px;
	line-height: 1.21;

	&::placeholder {
		font-family: $neueReg;
		font-size: 14px;
		line-height: 1.21;
		text-transform: uppercase;
		color: #BDBDBD;
	}
	&:hover, &:focus, &:active, &:after {
		border-color: #000000;
		//&:after {
		//
		//}
	}
	&:not(:placeholder-shown) {
		border-color: #000000 !important;
		background: #FFFFFF !important;
		color: #000000 !important;
	}
	&:-webkit-autofill {
		background: #FFFFFF !important;
		color: #000000 !important;
		-webkit-text-fill-color: #000000 !important;
		-webkit-box-shadow: 0 0 0 1000px #FFFFFF inset !important;

		&:focus, &:active {
			background: #FFFFFF !important;
			color: #000000 !important;
			transition: .23s all $ease-in-out-sine;

		}
	}
}
.field input:-webkit-autofill {
	background: #FFFFFF !important;
	color: #000000 !important;
	-webkit-text-fill-color: #000000 !important;
	-webkit-box-shadow: 0 0 0 1000px #FFFFFF inset !important;
}
.input-block input:-webkit-autofill {
	background: #FFFFFF !important;
	color: #000000 !important;
	-webkit-text-fill-color: #000000 !important;
	-webkit-box-shadow: 0 0 0 1000px #FFFFFF inset !important;
}
.form-content input:-webkit-autofill {
	background: #FFFFFF !important;
	color: #000000 !important;
	-webkit-text-fill-color: #000000 !important;
	-webkit-box-shadow: 0 0 0 1000px #FFFFFF inset !important;
}
.contact {
	flex-direction: column;
	align-content: center;
	@include get-vw(padding-top, 130px, 94px);
	@include get-vw(padding-bottom, 80px, 80px);
	h1 {
		font-family: $neueMed;
		@include get-vw(font-size, 48px, 24px);
		line-height: 1;
		text-align: center;
		letter-spacing: -0.02em;
		text-transform: uppercase;
		color: #000000;
		@include get-vw(margin-bottom, 48px, 24px);
	}
	p {
		font-family: $neueReg;
		font-size: 16px;
		line-height: 1.25;
		color: #828282;
		@include get-vw(max-width, 340px, 340px);
		text-align: center;
		@include get-vw(margin-bottom, 48px, 32px);
	}

	.bottom {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}
	form {
		@include get-vw(max-width, 340px, 340px);
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

	}
	input {
		width: 100%;
		border: 1px solid #E0E0E0;
		border-radius: 3px;
		padding: 16px;
		margin-bottom: 8px;
		transition: all .3s $ease-in-out-sine;
		font-family: $neueReg;
		font-size: 14px;
		line-height: 1.21;

		&::placeholder {
			font-family: $neueReg;
			font-size: 14px;
			line-height: 1.21;
			text-transform: uppercase;
			color: #BDBDBD;
		}
		&:hover, &:focus, &:active, &:after {
			border-color: #000000;
			//&:after {
			//
			//}
		}
		&:not(:placeholder-shown) {
			border-color: #000000 !important;
			background: #FFFFFF !important;
			color: #000000 !important;
		}
		&:-webkit-autofill {
			background: #FFFFFF !important;
			color: #000000 !important;

			&:focus, &:active {
				background: #FFFFFF !important;
				color: #000000 !important;
				transition: .23s all $ease-in-out-sine;

			}
		}
	}
	textarea {
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		border: 1px solid #E0E0E0;
		border-radius: 3px;
		padding: 16px;
		min-height: 100px;
		margin-bottom: 8px;
		transition: all .3s $ease-in-out-sine;
		font-family: $neueReg;
		font-size: 14px;
		line-height: 1.21;

		&::placeholder {
			font-family: $neueReg;
			font-size: 14px;
			line-height: 1.21;
			text-transform: uppercase;
			color: #BDBDBD;
		}
		&:hover, &:focus {
			border-color: #000000;
		}
		&:not(:placeholder-shown) {
			border-color: #000000;
		}
		&:-webkit-autofill {
			background: #FFFFFF !important;
			color: #000000;
			-webkit-box-shadow:#FFFFFF;
			// -webkit-text-fill-color: #000000;
			&:focus, &:active {
				background: #FFFFFF !important;
				color: #000000;
				transition: .23s all $ease-in-out-sine;
				-webkit-box-shadow: #FFFFFf;
				// -webkit-text-fill-color: #000000;
			}
		}

	}
	.btn {
		width: 100%;
	}
	.success-content {
		//position: absolute;
		display: flex;
		align-items: center;
		flex-direction: column;
		position: absolute;
		opacity: 0;
		visibility: hidden;
		text-align: center;
		transition: .25s opacity $ease-in-out-sine;
		top: 0;
		width: 100%;
		transform: translateY(-50%);
	}
	.success-content .btn {
		width: 160px;
	}
	.success-message {
		position: absolute;
		opacity: 0;
		visibility: hidden;
	}
	.success-content p {
		&:first-of-type {
			font-family: $neueMed;
			@include get-vw(font-size, 48px, 24px);
			line-height: 1;
			text-align: center;
			letter-spacing: -0.02em;
			text-transform: uppercase;
			color: #000000;
			@include get-vw(margin-bottom, 24px, 24px);
		}
		&:last-of-type {
			font-family: $neueReg;
			font-size: 16px;
			line-height: 1.25;
			color: #828282;
			max-width: 340px;
			text-align: center;
			@include get-vw(margin-bottom, 32px, 32px);

		}
	}
}

.view-product {
	.product-recirculation {
		@include get-vw(padding-top, 64px, 32px);
	}
}

.product-recirculation, .pdp-recirc {
	flex-direction: column;
	background: #FFFFFF;
	@include get-vw(padding-top, 48px, 24px);
	@include get-vw(padding-bottom, 46.5px, 46.5px);
	h2 {
		font-family: $neueMed;
		line-height: 1;
		text-align: center;
		letter-spacing: -0.02em;
		text-transform: uppercase;
		color: #000000;
		@include get-vw(font-size, 48px, 32px);
		@include get-vw(margin-bottom, 48px, 24px);
	}

	.inner {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}


	@include bp-767 {
		padding-bottom: 50px;
		.inner {
			flex-wrap: wrap;
			row-gap: 18px;
		}

	}
}


.product-tile {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	width: calc(25% - 0.4166666666666667vw);
	transition: all .22s $ease-out-sine;
	html:not(.touch) & {
		&:hover {
			.img-wrapper {
				img:last-of-type {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	.img-wrapper {
		width: 100%;
		position: relative;
		aspect-ratio: .79 / 1;
		margin-bottom: 16px;
		img {
			display: flex;
			width: 100%;
			position: relative;
			transition: all .22s $ease-out-sine;
			aspect-ratio: .79 / 1;
			&:last-of-type {
				opacity: 0;
				visibility: hidden;
				position: absolute;
				left: 0;
				top: 0;
				transition: all .22s $ease-out-sine;
			}

		}
	}
	.item-name {
		font-family: $neueMed;
		line-height: 1;
		letter-spacing: -0.03em;
		text-transform: uppercase;
		color: #000000;
		margin-bottom: 6.5px;
		@include get-vw(font-size, 16px, 16px);
	}
	.item-price {
		font-family: $neueReg;
		line-height: 1;
		color: #000000;
		@include get-vw(font-size, 14px, 14px);
		display: flex;
		gap: 10px;

	}
	.compare-at-price {
		text-decoration: line-through;
		color: #828282;
	}
	@include bp-767 {
		width: calc(50% - 3.5px);
		.img-wrapper {
			margin-bottom: 8px;
		}
		.item-name {
			font-size: 12px;
			margin-bottom: 4px;
		}
	}
}


.blue-hover {
	&:after {
		content: '';
		width: calc(100% + 2px);
		height: 4px;
		background: #80ABFF;
		opacity: .75;
		position: absolute;
		left: -1px;
		transform: scaleX(0);
		transform-origin: left;
		transition: all .22s $ease-out-sine;
		pointer-events: all;
	}
	html:not(.touch) & {
		&:hover {
			&:after {
				transform: scaleX(100%);
			}
		}
	}
}

.blue-selected {
	background-position: 0 -8px;
	opacity: 0.75;
	text-decoration: none;
	background-image: linear-gradient(transparent calc(100% - 4px), #80ABFF 4px);
	background-size: 0 100%;
	background-repeat: no-repeat;
	transition: all .3s $ease-in-out-sine;
	&.is-selected, &.active {
		background-size: 100% 100%;
	}
}

//.blue-selected {
//	&:after {
//		content: '';
//		width: calc(100% + 2px);
//		height: 4px;
//		background: #80ABFF;
//		opacity: .75;
//		position: absolute;
//		left: -1px;
//		transform: scaleX(0);
//		transform-origin: left;
//		transition: all .4s $ease-out-sine;
//		pointer-events: all;
//	}
//	&.is-selected, &.active {
//		text-decoration-color: rgba(128, 171, 255, 0.75);
//		&:after {
//			transform: scaleX(100%);
//		}
//
//	}
//}

.mobile-menu {
	display: flex;
	//height: 228px;
	position: fixed;
	top: 78px;
	left: 16px;
	opacity: 0;
	visibility: hidden;
	border-radius: 5px;
	z-index: 101;
	width: 244px;
	background: #FFF;
	overflow: hidden;
	pointer-events: none;
	.inner {
		height: 100%;
		width: 100%;
	}
	nav {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 24px;
		gap: 24px;
	}
	a {
		white-space: nowrap;
		font-family: $neueReg;
		font-size: 14px;
		line-height: 1.21;
		text-transform: uppercase;
		color: black;
	}
}

.mobile-menu-backdrop {
	position: fixed;
	pointer-events: all;
	width: 100%;
	height: 100%;
	left: 0;
	z-index: 100;
	top: 0;
	background: rgba(0, 0, 0, 0.2);
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
}


