#__next {
    @include get-vw(padding-top, 200px, 200px);
    @include get-vw(padding-bottom, 180px, 180px);
    /* Skio Tag */
    .B9u { // svg
        color: #FFFFFF !important;
    }
    .xQ4 {
        div { // text

            font-size: 18px;
            line-height: 1.3;
            text-align: center;
            color: #FFFFFF !important;
        }
    }
    /* Anchor Tags */
    a {
        display: block;

        font-size: 18px;
        line-height: 1.3;
        text-align: center;
        max-width: 320px !important;
        color: #FFFFFF !important;
    }
    /* Header */
    h2 {
        @include get-vw(font-size, 80px, 80px);
        line-height: 0.9 !important;

        color: #D9E6FB !important;
        text-transform: uppercase;
        @include get-vw(font-size, 30px, 24px);
        @include get-vw(margin-bottom, 25px, 15px);
        margin-top: 20px !important;
        text-align: center !important;
        letter-spacing: -0.04em !important;
        @include get-vw(font-size, 64px, 64px);
    }
    /* Form Content */
    .XiG {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 551px !important;
        label {
            display: none;
        }
    }
    .XiG > div {
        color: #FFFFFF;
        font-size: 18px;
        line-height: 1.3;
        text-align: center;
        margin-bottom: 0;
        h2 {
            font-family: $ttBlack;
            font-size: 30px;
        }
    }
    /* Ski Pin Code */
    .zDA { // copy
        font-family: $ttBlack;
        font-size: 18px;
        line-height: 1.3;
        text-align: center;
        color: #FFFFFF;
        max-width: 400px;
        margin-bottom: 20px;
    }
    #pincode {
        display: flex;
        align-items: center;
        justify-content: center;
        div div {
            padding: 0 !important;
            border: none;
            border-radius: 8px;
        }
        input {
            padding: 0 !important;
            position: relative;
        }
    }
    /* Skio Subscriptions */
    .Grid_page-grid__ddB0E {
        padding: 0 !important;
        display: flex !important;
        justify-content: center !important;
        button {
            width: auto;
        }
        [data-testid="SubscriptionCard"] {
            margin-top: 30px !important;
            * {
                color: #1B3766 !important;
                font-family: $ttBlack !important;
                text-align: left !important;
            }
            [data-testid="chip"] * {
                color: white !important;
            }
        }
    }
    .CP0 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Inputs Field */

    // input {
    //     font-family: $ttBlack !important;
    //     padding: 0 24px !important;
    //     font-size: 16px;
    //     height: 64px;
    //     display: flex;
    //     align-items: center;
    //     background: #fcfbf4 !important;
    //     border-radius: 10px !important;
    //     border: 1px solid transparent !important;
    //     transition: all .2s $ease-in-out-sine;
    //     color: #585689 !important;
    //     outline: none;
    //     margin-bottom: 16px;
    //     &:not(:placeholder-shown) {
    //         background: #FFFFFF !important;
    //     }
    //     &:focus {
    //         background: $white;
    //         color: #585689;
    //     }
    //     &::placeholder {
    //         font-family: $ttBlack;
    //         font-size: 16px;
    //         line-height: 1.3;
    //         color: #585689;
    //     }
    //     &:-webkit-autofill {
    //         background: #FFFFFF !important;
    //         color: #585689;
    //         -webkit-box-shadow: 0 0 0 1000px white inset;
    //         -webkit-text-fill-color: #585689;
    //         &:focus, &:active {
    //             background: #FFFFFF !important;
    //             color: #585689;
    //             transition: .23s all $ease-in-out-sine;
    //             -webkit-box-shadow: 0 0 0 1000px white inset;
    //             -webkit-text-fill-color: #585689;
    //         }
    //     }
    // }
    button {  // button
        @include get-vw(padding-top, 4px, 3px);
        @include get-vw(width, 200px, 180px);
        @include get-vw(height, 55px, 55px);
        @include get-vw(font-size, 16px, 15px);
        background-color: #8DC6E8 !important;
        border-radius: 10px !important;
        cursor: pointer !important;
        padding: 4px 22px 0 !important;
        color: blue !important;
        font-family: $ttBlack !important;
        letter-spacing: 1px !important;
        text-transform: uppercase !important;
        align-items: center !important;
        justify-content: center !important;
        display: flex !important;
        line-height: 1 !important;
        transition: all .36s $ease-out-sine !important;
        html:not(.touch) & {
            &:hover {
                opacity: .8;
            }
        }
    }
}
/* Error Message */
.nextFrost {
    .ho- {
        max-width: 320px !important;
    }
    .yTZ {
        font-family: $ttBlack;
    }
    .fZz {
        padding: 24px;
    }
}
.account-global {
    min-height: calc(var(--vh, 1vh) * 100);
    padding-top: 130px;
    padding-bottom: 243px;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
        min-width: 341px;
    }
    h1 {
        width: 100%;
        text-align: center;
        @include get-vw(font-size, 32px, 24px);
        line-height: 1.09;
        font-family: $ttBlack;
        color: #000000;
        text-transform: uppercase;
        margin-bottom: 24px;
    }

    button:not(.recover):not(#hide-forgot-password) {
        order: 1;
        font-family: $ttBlack;
        font-size: 14px;
        line-height: 1.21;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FFFFFF;
        background-color: #000000;
        border-radius: 3px;
        width: 100%;
        height: 49px;
        margin-top: 16px;
        margin-bottom: 8px;
        transition: all .5s ease-out;
        html:not(.touch) & {
            &:hover {
                    color: #000000;
                    background: #FFFFFF;
                    border-color: #000000;
            }
        }
    }
    label {
        display: none;
    }
    a, .recover, #hide-forgot-password {
        font-size: 14px;
        line-height: 1.21;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        order: 2;
        font-family: $ttBlack;
    }

    p {
        font-family: $ttBlack;
        font-size: 17px;
        line-height: 1.5;
        color: #000000;
        text-align: center;
        margin-bottom: 35px;
    }

    input {
        border: 1px solid #E0E0E0;
        border-radius: 3px;
        cursor: text;
        padding: 0 16px 0 16px;
        width: 341px;
        height: 49px;
        position: relative;
        background: transparent;
        text-transform: uppercase;
        color: #000000;
        &::placeholder {
            color: #BDBDBD;
            font-family: $ttBlack;
            font-size: 14px;
            line-height: 1.21;
            text-transform: uppercase;
        }
        &:focus {
            border: 2px solid #FCFBF4;
        }
        @include bp-767 {
            width: 90%;
        }
    }

    .field {
        display: flex;
        flex-direction: column;
    }

    @include bp-767 {
        padding-top: 94px;
        padding-bottom: 271px;
        min-height: unset;
    }
}



.logged-out {

    .submit {
        width: 100%;
    }

    .input-block.checkbox {
        margin-bottom: 20px;
    }
}

.input-block-group {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.input-block {
    align-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.checkbox {
        display: flex;
        align-items: center;
        position: relative;
        height: 20px;
        cursor: pointer;
        margin-top: 20px;
        margin-bottom: 30px;

        @include bp-767 {
            justify-content: center;
        }

        label {
            margin-bottom: 2px;
            padding-left: 0;
            font-size: 16px;
            color: #000000;

            &::selection {
                background-color: transparent;
            }
        }

        input {
            margin: 0 12px 0 0;
            cursor: pointer;
            padding: 0;
            width: 100%;
            height: 100%;
            position: relative;
            border-radius: 50%;
            border: 2px solid #000000;

            &:before {
                content: "";
                width: 184px;
                height: 30px;
                z-index: 2;
                position: absolute;
                left: -4px;
                top: -3px;
            }

            &:after {
                content: "";
                background-color: $black;
                border-radius: 50%;
                position: absolute;
                width: calc(100% - 6px);
                height: calc(100% - 6px);
                left: 3px;
                top: 3px;
                transform: scale(0.75);
                opacity: 0;
                transition: 0.2s all $ease-in-out-sine;
            }

            &:checked {

                &:after {
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }
    }

    &.errors {
        position: absolute;
        width: 100%;
        top: -10px;
        font-size: 14px;
        letter-spacing: 0.25px;
        color: $black;
        margin-bottom: 0;
        left: 1px;
        transform: translateY(-100%);
    }
}
.input-block + .input-block {
    margin-top: 15px;
}

.recover-wrapper {
    display: none;
}

/* -----------------------------------------------
LOGGED OUT STYLES
-------------------------------------------------- */

form {
    position: relative;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.bottom-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    a {
        margin-bottom: 8px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.input-block-group + .checkbox {

    @include bp-767 {
        margin-top: 10px;
        margin-bottom: 30px;
    }
}

input,
select {
    border: solid 1px $black;
    width: 100%;
    height: 50px;
    padding: 16px 20px 17px 20px;
    font-size: 14px;
}

/* -----------------------------------------------
LOGGED IN STYLES
-------------------------------------------------- */

.initiative-message {
    margin-top: 100px;

    @include bp-767 {
        border-bottom: none;
    }
}

.logged-in {
    display: flex;
    flex-direction: column;
    padding: 240px 60px 50px;
    .title {
        color: #D9E6FB;
    }
    @include bp-1024 {
        padding: 160px 30px 25px;
    }

    @include bp-959 {
        padding: 150px 19px 15px;
    }

    .submit-block {
        display: inline-block;
        position: relative;
        width: 100%;

        .submit {
            width: 100%;
        }

        @include bp-767 {
            width: 100%;
        }
    }

    .input-block {

        &.checkbox {
            margin-bottom: 30px;
        }
    }

    a {
        text-transform: uppercase;
        text-decoration: underline;
        font-size: 18px;
        color: #000000;
    }

    input,
    select {
        height: 50px;
        padding: 16px 20px 17px 15px;
    }

    label {
        font-size: 14px;
        color: $black;
        margin-bottom: 12px;
        display: block;
        text-align: left;
        padding-left: 1px;
    }

    form {
        width: 100%;
    }

}

.logged-in-header {
    width: 100%;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #D9E6FB80;
    height: fit-content;

    h1 {
        font-family: $ttBlack;
        @include get-vw(font-size, 80px, 65px);
        line-height: .9;
        color: #D9E6FB;
        position: relative;
        text-transform: uppercase;
        @include get-vw(bottom, -15px, -13px);
    }

    a {
        text-transform: capitalize;
        text-decoration: underline;
        font-size: 18px;
        color: #D9E6FB;;
        font-family: $ttBlack;
        // width: 72px;
    }



    @include bp-767 {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding-bottom: 30px;
        gap: 15px;

        h1 {
            font-size: 47px;
            text-align: center;
        }

        a {
            margin-top: 11px;
        }
    }

}

.logged-in-body {
    padding-top: 57px;
    display: flex;
    gap: 60px;

    @include bp-959 {
        gap: 40px;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        .title {
            font-size: 20px;
        }
    }
    @include bp-767 {
        padding-top: 30px;
    }

}



.account-buttons {
    display: flex;
    flex-direction: column;
    @include get-vw(width, 370px);
    border-radius: 10px;
    border: 1px solid #FCFBF4;
    height: fit-content;

    a {
        font-family: $ttBlack;
        font-size: 16px;
        line-height: 1.5;
        color: rgba(252, 251, 244, 0.5);
        text-decoration: none;
        padding: 15px 20px;
        overflow: hidden;

        &:first-child {
            border-bottom: 1px solid #FCFBF4;
        }

        &:hover {
            background: #FCFBF4;
            color: #13294E;
            transition: all .25s cubic-bezier(.445,.05,.55,.95);
            overflow: hidden;

        }
    }

    @include bp-767 {
        width: 100%
    }
}
.button.subs-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D9E6FB;
    border-radius: 10px;
    font-family: $ttBlack;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.04em;
    min-width: 160px;
    text-transform: uppercase;
    color: #13294E;
    text-decoration: none;
    height: 50px;
    padding: 0 20px;
    border: 2px solid #D9E6FB;
    transition: .25s all $ease-in-out-sine;
    cursor: pointer;
    top: -12px;
    padding-top: 5px;
    right: 0;
    width: auto;
    &:hover, &.active {
        background: #13294E;
        color: #D9E6FB;
    }
}
.account-info {
    margin-bottom: 30px;
    .sub-underscore {
        border-bottom: 1px solid #D9E6FB80;
        padding-bottom: 45px;
        margin-bottom: 20px;
        width: 100%;

        @include bp-767 {
            display: none;
        }
    }

    p, a {
        font-family: $ttBlack;
        font-size: 18px;
        line-height: 1.5;
        color: #D9E6FB;
        text-transform: none;
    }

    a {
        margin-top: 20px;
        text-transform: none;
        display: none;
    }
    .title {
        margin-bottom: 5px;
    }
    .customer-details {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 90px;

        div {
            width: 50%;
        }

        a {
            width: 50%;
            text-align: right;
            font-family: $ttBlack;
            font-size: 18px;
            line-height: 1.5;
            text-decoration-line: underline;
            color: #D9E6FB;

            @include bp-767 {
                margin-top: 30px;
            }
        }

        @include bp-767 {
            flex-direction: column;
            width: 100%;
            padding-bottom: 80px;

            div {
                width: 100%;
            }

            a {
                width: 100%;
                text-align: left;
            }
        }
    }

    @include bp-959 {
        width: 100%;
        .title {
            margin-bottom: 24px;
        }
    }
    @include bp-767 {

    }
}
[type=reset] {
    display: none;
}
.order-history, .order-details {
    .subs-btn {
        position: absolute;
    }
}

.order-history {
    width: 400px;
    max-width: 400px;
    .drawer {
        &.open {
            .label {
                svg {
                    transform: rotate(0deg);
                }
            }
        }
    }
    @include bp-959 {
        width: 100%;
        max-width: 100%;
    }
    @include bp-767 {
        max-width: 100%;
        width: 100%;
        flex-direction: column;
    }
}
//.order-history, .order-details {
//    position: relative;
//    td[headers="RowOrder ColumnPayment"], #ColumnPayment {
//        display: none;
//    }
//    td#RowOrder, #ColumnOrder {
//        min-width: 62px;
//    }
//    [headers="RowOrder ColumnDate"], #ColumnDate {
//        min-width: 105px;
//    }
//    table {
//        @include get-vw(width, 890px);
//        border-top: 1px solid #D9E6FB80;
//        border-bottom: 1px solid #D9E6FB80;
//        border-collapse: collapse;
//        margin-top: 48px;
//        text-align: left;
//
//        th {
//            font-family: $ttBlack;
//            @include get-vw(font-size, 15px, 14px);
//            line-height: 1.2;
//            text-transform: uppercase;
//            color: #D9E6FB;
//            padding-top: 20px;
//            padding-bottom: 20px;
//
//            &:last-of-type {
//                text-align: right;
//            }
//        }
//
//        tr {
//            border-top: 1px solid #D9E6FB80;
//        }
//
//        thead {
//            tr {
//                border-top: none;
//            }
//        }
//
//        td {
//            padding: 20px 0;
//            font-family: $ttBlack;
//            @include get-vw(font-size, 18px, 16px);
//            line-height: 1.5;
//            color: #D9E6FB;
//            border-top: 1px solid #D9E6FB80;
//
//            a {
//                text-decoration: underline;
//                @include get-vw(font-size, 18px, 16px);
//            }
//
//            &:last-of-type {
//                text-align: right;
//            }
//        }
//
//        @include bp-767 {
//            width: 100%;
//        }
//    }
//    .text {
//        color: #D9E6FB;
//        text-align: start;
//        margin-top: 15px;
//    }
//
//    @include bp-959 {
//        margin-top: 31px;
//        table {
//            margin-top: 24px;
//        }
//        .subs-btn {
//            position: relative;
//            width: fit-content;
//            margin-top: 20px;
//        }
//    }
//    @include bp-767 {
//        padding-bottom: 60px;
//
//        table {
//            td {
//                font-size: 14px;
//            }
//        }
//    }
//}
.logout-wrapper {
    display: flex;
    flex-direction: column;
    @include bp-767 {
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
    }
}
.addresses {
    flex-direction: column;
    min-height: calc(var(--vh, 1vh) * 100);
    padding-top: 130px;
    padding-bottom: 243px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    h1 {
        font-family: $ttBlack;
        font-size: 32px;
        line-height: 1.09;
        color: #000000;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 18px;
    }
    h2 {
        font-family: $ttBlack;
        font-size: 24px;
        line-height: 1.04;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 15px;
    }
    a {
        font-family: $ttBlack;
        font-size: 16px;
        line-height: 1.38;
        display: flex;
        align-items: center;
        letter-spacing: -0.03em;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: #000000;
    }
    p {
        font-family: $ttBlack;
        font-size: 14px;
        line-height: 1.57;
        text-transform: uppercase;
        color: #828282;
        margin: 16px 0;
    }
    .btn {
        width: 100%;
    }
    .default-address {
        margin-top: 32px;
        margin-bottom: 32px;
        padding-left: 0;
    }
    .edit-address {
        margin-top: 55px;
    }
    .add-address {
        margin-top: 32px;
        margin-bottom: 32px;
        padding-left: 0;
        max-width: 340px;
        form {
            width: 100%;
        }
    }
    .add-address-form {
        padding-top: 55px;
    }
    .default-checkbox {
        display: flex;
        align-items: center;
        white-space: nowrap;
        margin-bottom: 16px;
        input {
            position: relative;
            padding: 6px;
            width: 32px;
            height: 32px;
            &:checked {
                position: relative;
                border: 1px solid $black;
                &:after {
                    font-size: 30px;
                    vertical-align: middle;
                    line-height: 1;
                    position: absolute;
                    left: 0;
                    top: 0;
                    content: 'X';
                }
            }
        }
        label {
            font-family: $ttBlack;
            font-size: 14px;
            line-height: 1.57;
            text-transform: uppercase;
            color: #000000;
            margin-right: 8px;
        }
    }
    .field {
        display: flex;
        flex-direction: column;
        margin-bottom: 14px;
        label {
            font-family: $ttBlack;
            font-size: 14px;
            line-height: 1.57;
            text-transform: uppercase;
            color: #000000;
            margin-bottom: 4px;
        }

        .select {
            display: flex;
            position: relative;
            align-items: center;
            svg {
                width: 12px;
                height: 12px;
                right: 16px;
                position: absolute;
            }
        }
        input, select {
            border: 1px solid #E0E0E0;
            border-radius: 3px;
            cursor: text;
            padding: 0 16px 0 16px;
            width: 341px;
            height: 49px;
            position: relative;
            background: transparent;
            text-transform: uppercase;
            color: #000000;
            &::placeholder {
                color: #BDBDBD;
                font-family: $ttBlack;
                font-size: 14px;
                line-height: 1.21;
                text-transform: uppercase;
            }
            &:focus {
                border: 2px solid #FCFBF4;
            }
        }
    }
    .btn-wrapper {
        display: flex;
        gap: 5px;
    }
    ul {
        li {
            &::marker {
                content: none;
            }
        }
    }
}
.default-label {
    display: flex !important;
}
.select-country, .select-state {
    width: 100%;
    margin-bottom: 20px;
    svg {
        display: none;
    }
}
.order-grid {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    .img-wrapper {
        width: 72px;
        display: flex;
        img {
            display: flex;
            height: 100%;
        }
    }
    .order-item {
        display: flex;
        justify-content: space-between;
        @include get-vw(width, 400px,  400px);
        border-bottom: 1px solid #F2F2F2;
        padding-bottom: 24px;
        margin-bottom: 24px;
    }
    .order-left {
        p {
            color: #000000;
            font-size: 14px;
            font-family: $ttBlack;
            line-height: 1.2 !important;
            text-transform: uppercase;
        }
    }
    .product-title {
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .bottom {
        color: #4F4F4F;
        font-size: 14px;
        font-family: $ttBlack;
        line-height: 1.2;
        text-transform: uppercase;
    }
    .order-right {
        color: #000000;
        font-size: 14px;
        font-family: $ttBlack;
        line-height: 1.2;
        text-transform: uppercase;
    }

    @include bp-767 {
        .order-item {
            width: 100%;
        }
    }
}
.customer {
    min-height: calc(var(--vh, 1vh) * 100);
    padding-top: 114px;
    padding-bottom: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 52px;
    @include get-vw(padding-left, 24px);
    @include get-vw(padding-right, 24px);

    input {
        width: 100%;
		border: 1px solid #E0E0E0;
		border-radius: 3px;
		padding: 16px;
		margin-bottom: 8px;
		transition: all .3s $ease-in-out-sine;
		font-family: $ttBlack;
		font-size: 14px;
		line-height: 1.21;
    }

    h1 {
        text-align: center;
        line-height: 1.09;
        font-family: $ttBlack;
        color: #000000;
        text-transform: uppercase;
        margin-bottom: 18px;
        font-size: 32px;
    }
    h2 {
        width: 100%;
        text-align: center;
        line-height: 1.04;
        font-family: $ttBlack;
        color: #000000;
        text-transform: uppercase;
        margin-bottom: 16px;
        font-size: 24px;
    }
    p {
        color: var(--gray-3, #828282);
        font-size: 14px;
        font-family: $ttBlack;
        line-height: 2;
        text-transform: uppercase;
    }
    .logout-btn {
        display: flex;
        align-items: center;
        gap: 8px;
        p {
            font-family: $ttBlack;
            font-size: 16px;
            line-height: 1.38;
            letter-spacing: -0.03em;
            text-decoration-line: underline;
            text-transform: uppercase;
            color: #000000;
        }
        svg {
            width: 15px;
            height: 18px;
        }
    }
    form {
        @include get-vw(max-width, 340px, 340px);
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
    }
    .btn {
        width: 100%;
    }
    .field {
        width: 100%;
    }
    label {
        display: none;
    }
    .form__message, .errors-list {
        font-family: $ttBlack;
        font-size: 12px;
        color: #000000;
    }
    a {
        font-size: 14px;
        line-height: 1.21;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        order: 2;
        font-family: $ttBlack;
    }
    @include bp-767 {
        padding: 94px 16px 80px;
        min-height: unset;
        justify-content: center;
        gap: 48px;
        h1 {
            font-size: 24px;
            margin-bottom: 0;
        }
        //div {
        //    width: 100%;
        //    display: flex;
        //    align-items: center;
        //    justify-content: space-between;
        //}
    }

    &.account {
        display: flex;
        align-items: flex-start;
        width: 100%;
        border-bottom: 1px solid #D9E6FB80;
        h1, h2 {
            text-align: start;
        }
        p {
            color: var(--gray-3, #828282);
            font-size: 14px;
            font-family: $ttBlack;
            line-height: 2;
            text-transform: uppercase;
        }
        @include bp-1100 {
            gap: 30px;
        }

        @include bp-767 {
            flex-direction: column;
        }
    }
    &.reset-password {
        gap: 10px;
    }
    &.addresses {
        .btn-wrapper {
            flex-direction: column;
            width: 100%;
        }
        .btn {
            width: 100%;
        }
    }
}
.rowgroup {
    padding-top: 32px;
    border-bottom: 1px solid #F2F2F2;
    &:first-of-type {
        border-top: 1px solid #F2F2F2;
    }
    .drawer-items {
        overflow: hidden;
    }
}
.product-title {
    font-family: $ttBlack;
    font-size: 14px;
    line-height: 1.21;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 4px;
}
.product-info {
    display: flex;
    flex-direction: column;
}
.product-price {
    font-family: $ttBlack;
    font-size: 14px;
    line-height: 1.21;
    text-transform: uppercase;
    color: #000000;
    margin-left: auto;
}
.properties {
    span {
        font-family: $ttBlack;
        font-size: 14px;
        line-height: 1.21;
        text-transform: uppercase;
        color: #4F4F4F;
    }
}

.single-product-row {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 24px;
}
.single-product-row-right {
    display: flex;
    align-items: flex-start;
    width: 100%;
}
//.label {
//    display: flex;
//    flex-direction: column;
//    width: 100%;
//    padding-bottom: 30px;
//    svg {
//        transform: rotate(-180deg);
//        transition: .2s all $ease-in-out-sine;
//    }
//    p {
//        font-family: $ttBlack;
//        font-size: 14px;
//        line-height: 1.21;
//        text-transform: uppercase;
//        color: #000000;
//    }
//    .top {
//        width: 100%;
//        justify-content: space-between;
//        display: flex;
//    }
//    .bottom {
//        margin-top: 8px;
//        width: 100%;
//        justify-content: flex-start;
//        align-items: flex-end;
//        display: flex;
//        gap: 8px;
//        span {
//            margin-left: auto;
//            display: flex;
//            position: relative;
//            top: -3px;
//        }
//    }
//}
.line-item-image {
    width: 72px;
    height: 90px;
}
.order-none {
    font-family: $ttBlack;
    font-size: 14px;
    line-height: 1.21;
    text-transform: uppercase;
    color: #828282;
}
.account-inner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    .left {
        width: 50%;
    }
    .left, .right {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        h2 {
            text-align: left;
        }
    }
    .right {
        p {
            font-family: $ttBlack;
            font-size: 14px;
            line-height: 1.57;
            text-transform: uppercase;
            color: #828282;
        }
    }
    .account-addresses {
        margin-top: 8px;
        font-family: $ttBlack;
        font-size: 14px;
        line-height: 1.38;
        letter-spacing: -0.03em;
        text-decoration-line: underline;
        text-transform: uppercase;
    }
    @include bp-959 {
        flex-direction: column-reverse;
        gap: 48px;
        .left {
            width: 100%;
        }
    }
    @include bp-767 {
        flex-direction: column-reverse;
        gap: 48px;
        h2 {
            font-size: 16px;
        }
        .left, .right {
            p {
                font-size: 14px;
            }
        }
    }
}

.customer-addresses {

    svg {
        display: none;
    }
    h1 {
        font-family: $ttBlack;
        @include get-vw(font-size, 80px, 65px);
        line-height: .9;
        color: #D9E6FB;
    }

    h2 {
        font-family: $ttBlack;
        font-size: 40px;
        line-height: .9;
        color: #D9E6FB;
        text-align: center;
    }

    ul {
        list-style: none;
        padding-left: 0;
    }
}

.new-address {
    display: flex;
    flex-direction: column;

    .input-block-group + .submit-block {
        margin-top: 30px;
    }
}

 .error-message, .form__message, .errors {
    font-family: $ttBlack !important;
    font-size: 14px !important;
    line-height: 1.25 !important;
    color: #EB5757 !important;
    text-align: center !important;
     justify-content: center;
    * {

        font-family: $ttBlack !important;
        font-size: 14px !important;
        line-height: 1.25 !important;
        color: #EB5757 !important;
        text-align: center !important;
        justify-content: center;
    }

    span {
        display: none;
    }

    svg {
        display: none;
    }
}

.errors {
    padding-bottom: 15px;
    display: flex;
    align-items: center;

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        font-family: $ttBlack;
        @include get-vw(font-size, 22px, 20px);
        line-height: 1.2;
        color: #D9E6FB;
        text-align: center;
        margin-top: -10px;
    }
}




.address-forms {
    position: relative;

    .errors {
        position: absolute;
        width: 100%;
        bottom: 0;
        font-size: 14px;
        letter-spacing: 0.25px;
        color: $black;
        margin-bottom: 0;
        left: 1px;
        transform: translateY(100%);
    }
}

.add-form {

    .submit-block {
        margin-top: 20px;
    }

    .checkbox + .submit-block {
        margin-top: 0;
    }
}

.tab-anchors {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    background-color: $black;
    width: 100%;
    color: $black;
    font-size: 11px;
    line-height: 2.27;
    letter-spacing: 0.79px;
    text-align: center;
    text-transform: uppercase;

    ul {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    li {
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: center;
        flex: 1;
        align-items: center;
        border: solid 1px $black;
        border-right: none;
        cursor: pointer;
        background-color: transparent;
        transition: all 0.18s $ease-in-out-sine;

        &.active {
            background-color: $white;
            border-bottom: 1px solid transparent;
        }

        &:first-child {
            border-left: none;
        }

        @include bp-767 {
            border-bottom: none;
            border-right: solid 1px $black;
            background-color: $black;

            &:first-child {
                border-left: solid 1px $black;
            }

            &.active {
                border-left: 1px solid transparent;
                border-right: 1px solid transparent;
                border-bottom: none;
                background-color: $white;
            }

            &:last-child {
                border-bottom: solid 1px $black;

                &.active {
                    border-bottom: solid 1px $black;
                }
            }
        }
    }

    a {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        transition: all 0.22s $ease-in-out-sine;

        &:hover {
            background-color: $white;
        }
    }

    @include bp-767 {

        ul {
            flex-direction: column;
        }

        li,
        a {
            min-height: 75px;
        }
    }
}

.all-tabs {
    background-color: $white;
    width: 100%;
    min-height: calc(100vh - 398px);
    padding-top: 122px;
    position: relative;

    @include bp-767 {
        padding-top: 65px;
        min-height: calc(100vh - 240px);
    }
}
.create {
    text-transform: unset;
}
.tab {
    /*max-width: 780px;
    margin: 0 auto;
    flex-direction: column;
    display: flex;*/

    h2,
    h3 {
        font-size: 30px;
        padding-bottom: 20px;
        margin-bottom: 30px;
        text-transform: uppercase;
        line-height: 0.83;
        letter-spacing: 1.3px;
        color: $black;

        @include bp-767 {
            font-size: 20px;
            letter-spacing: 0.67px;
            padding-bottom: 9px;
            margin-bottom: 20px;
        }
    }
}

.drawer.mobile-only {

    .label {
        display: none;

        @include bp-767 {
            background-color: $black;
            font-size: 11px;
            line-height: 2.27;
            letter-spacing: 0.79px;
            color: $black;
            display: flex;
            text-transform: uppercase;
            align-items: center;
            padding: 26px 0 24px 30px;
            height: 75px;
            width: 100%;
            transition: all 0.3s $ease-in-out-sine;

            &.active {
                background-color: $white;
            }
        }

        @include bp-370 {
            padding: 26px 0 24px 20px;
        }
    }

    .drawer-items {
        padding: 0 30px;

        > *:first-child {
            margin-top: 40px;
        }

        > *:last-child {
            margin-bottom: 60px;
        }

        @include bp-370 {
            padding: 0 20px;
        }
    }
}

.tab-summary {
    margin-bottom: 80px;
    font-size: 18px;
    color: $black;

    @include bp-767 {
        margin-bottom: 60px;
    }

    p {
        display: block;
        margin-bottom: 10px;
    }
}

.all-addresses {
    display: flex;
    flex-wrap: wrap;

    .default-eyebrow {
        display: block;
        width: 100%;
        font-size: 14px;
        letter-spacing: -0.29px;
        color: $black;
        margin-bottom: 11px;
    }

    .address {
        width: 33%;
        margin-bottom: 60px;
        font-size: 18px;
        line-height: 1.78;

        @include bp-767 {
            margin-bottom: 30px;
        }
    }

    .edit-triggers {
        margin-top: 20px;
        font-size: 11px;
        text-transform: uppercase;
        line-height: 2.73;

        @include bp-767 {
            margin-top: 10px;
        }
    }

    .edit-address,
    .address-delete {
        text-decoration: underline;
        cursor: pointer;
        margin-bottom: 0;

        &:hover {
            text-decoration: none;
        }

        &.processing {
            text-decoration: none;
            cursor: default;
        }
    }

    @include bp-767 {

        .address {
            font-size: 16px;
            line-height: 1.88;
            width: 100%;
        }
    }
}

.edit-forms {
    display: none;

    form {
        display: none;
    }

    h3 {
        position: relative;
    }

    .close {
        width: 30px;
        height: 30px;
        position: absolute;
        right: -1px;
        top: 1px;

        span {
            width: 100%;
        }

        @include bp-767 {
            width: 20px;
            height: 20px;
            right: 3px;
            top: -2px;
        }
    }
}

.drawer-label {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding: 30px 0;
    color: $black;

    .line-item-left p {
        text-decoration: underline;
        text-transform: uppercase;
        font-size: 14px;
        color: $black;
    }

    @include bp-767 {
        padding: 16px 0 18px;

        .line-item-left p {
            font-size: 11px;
        }

        .price {
            display: none;
        }

        .line-item-right {
            margin-top: 0;
        }
    }
}

.no-orders-text {
    font-size: 16px;
    color: $black;
    margin-top: 30px;
}

.submit-message {
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translate(-50%, 100%);
}

.orders {

    h2 {
        margin-bottom: 0;
        border-bottom: none;
    }

    .summary-checkout {
        width: 250px;
    }

    .bottom-wrapper {
        justify-content: space-between;
        padding-bottom: 70px;
    }

    .checkout-item {
        margin-bottom: 17px;

        &:last-child {
            margin-bottom: 0;
        }

        .item {
            font-size: 18px;
            line-height: 1.2;
            color: $black;
        }

        .total {
            font-size: 14px;
            line-height: 1.57;
            letter-spacing: 0.37px;
        }
    }

    .increment-wrapper {
        margin-left: 20px;
    }

    .line-item-right {
        width: 260px;
    }

    .thumbnail-wrapper {
        margin-right: 75px;
    }

    .drawer {
        border-bottom: 1px solid $black;
    }

    .date {
        font-size: 18px;
        line-height: 1.22;
        color: $black;
    }

    .price {
        font-size: 14px;
        line-height: 1.57;
        letter-spacing: 0.37px;
        color: $black;
    }

    @include bp-767 {

        .date {
            width: 100%;
            text-align: right;
        }

        .summary-checkout {
            padding-top: 24px;
        }
    }

    .drawer-items {

        .labels {
            padding-top: 40px;
            font-size: 14px;
            letter-spacing: -0.29px;
            padding-bottom: 20px;
            color: $black;
            border-bottom: none;
            text-transform: none;
        }
    }

    .shipping-address {

        h4 {
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 0.3px;
            color: $black;
        }

        p {
            font-size: 18px;
            line-height: 1.78;
            color: $black;
            margin-top: 11px;
        }
    }

    .line-item {
        border-bottom: none;
        padding: 54px 0 45px 35px;
    }

    @include bp-767 {

        .line-item {
            padding: 20px 20px 0;
        }

        .increment-wrapper {
            margin-left: 0;
        }

        .line-item-right {
            padding-right: 0;
            width: 195px;
        }

        .thumbnail-wrapper {
            margin-right: 25px;
            height: auto;

            .thumbnail {
                transform: translateY(-8px);
            }
        }

        .line-item-left {

            .wrapper {
                min-width: 195px;

                p:last-child {
                    line-height: 1.7;
                    font-size: 10px;
                    margin-top: 6px;
                }
            }
        }

        .labels-right {
            width: 40.5%;
            display: flex;
            justify-content: flex-end;
        }

        .labels {
            font-size: 12px;
            color: $black;
            text-transform: none;
            border-bottom: solid 1px $black;

            .line-item-right {
                width: 300px;

                @include bp-767 {
                    width: calc(100% - 103px);
                }

                p:first-child {
                    display: none;
                }
            }

            .last {
                text-align: right;
            }
        }

        .bottom-wrapper {
            justify-content: space-between;
            padding-bottom: 30px;
            padding-top: 40px;
        }

        .drawer {
            padding-left: 1px;

            &:nth-child(2) {
                border-top: solid 1px $black;
            }
        }

        .drawer-items {

            .labels {
                padding-top: 40px;
            }
        }

        a {
            text-decoration: underline;
        }

        p, a {

            @include bp-767 {
                width: 100%;
            }

            &.last {
                margin-left: 40px;

                @include bp-767 {
                    width: 100%;
                }
            }

            &.first {
                width: 59.8%;

                @include bp-767 {
                    width: 100%;
                }
            }
        }
    }
}

/* -------------------------------------------------
    SITE SPECIFIC STYLES
-------------------------------------------------- */
.submit {
    color: $white;
    background-color: $black;
}
