<div class="top">
    <h1 class="form-fade-el">{{ section.settings.header }}</h1>
    <p class="form-fade-el">{{ section.settings.copy }}</p>
</div>
<div class="bottom">
    <form class="bind-gorgias">
        <div class="success-content">
            <p>{{ section.settings.success_copy }}</p>
        </div>
        <div class="form-content form-fade-el">
            <label for="name">Name</label>
            <input required type="text" id="name" name="name" placeholder="Enter your name">
            <label for="email">Email</label>
            <input required type="email" name="email" placeholder="Enter your Email" id="email">
            <label for="message">Message</label>
            <textarea required name="message" id="message" placeholder="Enter your Message  "></textarea>
            <button class="pink-btn" type="submit" value="Submit"><span>Submit</span></button>
        </div>
    </form>
</div>



{% schema %}
{
    "name": "Contact",
    "tag": "section",
    "class": "contact c-24",
    "settings": [
        {
        "type": "text",
        "id": "header",
        "label": "Header"
        },
        {
        "type": "text",
        "id": "copy",
        "label": "Copy"
        },
        {
        "type": "text",
        "id": "success_header",
        "label": "Success header"
        },
        {
        "type": "text",
        "id": "success_copy",
        "label": "Success copy"
        }
    ]
}
{% endschema %}
