<div class="top">
    <h1 class="form-fade-el">{{ section.settings.header }}</h1>
    <p class="form-fade-el">{{ section.settings.copy }}</p>
</div>
<div class="bottom">
    <iframe style="border:none;width:100%; height:1200px" src="https://noteforms.com/forms/orders-requests-contact-form-kew4bu"></iframe>
    {% comment %}<form class="bind-gorgias">{% endcomment %}
        {% comment %}<div class="success-content">{% endcomment %}
            {% comment %}<p>{{ section.settings.success_copy }}</p>{% endcomment %}
        {% comment %}</div>{% endcomment %}
        {% comment %}<div class="form-content form-fade-el">{% endcomment %}
            {% comment %}<label for="name">Name</label>{% endcomment %}
            {% comment %}<input required type="text" id="name" name="name" placeholder="Enter your name">{% endcomment %}
            {% comment %}<label for="email">Email</label>{% endcomment %}
            {% comment %}<input required type="email" name="email" placeholder="Enter your Email" id="email">{% endcomment %}
            {% comment %}<label for="message">Message</label>{% endcomment %}
            {% comment %}<textarea required name="message" id="message" placeholder="Enter your Message  "></textarea>{% endcomment %}
            {% comment %}<button class="pink-btn" type="submit" value="Submit"><span>Submit</span></button>{% endcomment %}
        {% comment %}</div>{% endcomment %}
    {% comment %}</form>{% endcomment %}
</div>



{% schema %}
{
    "name": "Contact",
    "tag": "section",
    "class": "contact c-24",
    "settings": [
        {
        "type": "text",
        "id": "header",
        "label": "Header"
        },
        {
        "type": "text",
        "id": "copy",
        "label": "Copy"
        },
        {
        "type": "text",
        "id": "success_header",
        "label": "Success header"
        },
        {
        "type": "text",
        "id": "success_copy",
        "label": "Success copy"
        }
    ]
}
{% endschema %}
