
<h3>{{ section.settings.header }}</h3>
<div class="inner">
    {% for block in section.blocks %}
        <div class="drawer faq-drawer">
            <div class="label">
                <p>{{ block.settings.question }}</p>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="44" height="45" viewBox="0 0 44 45" fill="none">
                      <g filter="url(#filter0_d_1762_1293)">
                        <path d="M17.5596 40.2398V26.7198H4.55957V15.2798H17.5596V1.75977H28.9996V15.2798H41.9996V26.7198H28.9996V40.2398H17.5596Z" fill="white"/>
                        <path d="M16.8096 40.2398V40.9898H17.5596H28.9996H29.7496V40.2398V27.4698H41.9996H42.7496V26.7198V15.2798V14.5298H41.9996H29.7496V1.75977V1.00977H28.9996H17.5596H16.8096V1.75977V14.5298H4.55957H3.80957V15.2798V26.7198V27.4698H4.55957H16.8096V40.2398Z" stroke="#00142D" stroke-width="1.5"/>
                      </g>
                      <defs>
                        <filter id="filter0_d_1762_1293" x="0.0595703" y="0.259766" width="43.4404" height="44.48" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                          <feOffset dx="-3" dy="3"/>
                          <feComposite in2="hardAlpha" operator="out"/>
                          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0.0784314 0 0 0 0 0.176471 0 0 0 1 0"/>
                          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1762_1293"/>
                          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1762_1293" result="shape"/>
                        </filter>
                      </defs>
                    </svg>
                </span>
            </div>
            <div class="drawer-items">
                <div class="content">
                    {{ block.settings.answer }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% schema %}
{
"name": "FAQ Section",
"tag": "section",
"class": "faq-section max-width mw",
"settings": [
{
"id": "header",
"type": "text",
"label": "Header"
}
],
"blocks": [
{
"name": "FAQ Block",
"type": "faq-block",
"settings": [
{
"type": "text",
"id": "question",
"label": "Question"
},
{
"type": "richtext",
"id": "answer",
"label": "Answer"
}
]
}
]
}
{% endschema %}
