<h1>Hello</h1>



{% schema %}
{
  "name": "PDP Hero",
  "tag": "section",
  "class": "pdp-hero mw",
  "blocks": [
    {
      "name": "Tab Trigger",
      "type": "tab_trigger",
      "settings": [
        {
          "type": "text",
          "id": "trigger",
          "label": "Trigger"
        }
      ]
    }
  ]
}
{% endschema %}
