<div class="top">
    <h1>{{ section.settings.header }}</h1>
    <p>{{ section.settings.copy }}</p>
</div>
{% for block in section.blocks %}
    {%- case block.type -%}
        {%- when '@app' -%}
            {% render block %}
    {%- endcase -%}
{% endfor %}

{% schema %}
{
  "name": "Store locator main",
  "tag": "section",
  "settings": [
    {
      "id": "header",
      "type": "text",
      "label": "Header"
    },
    {
      "id": "copy",
      "type": "text",
      "label": "Copy"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}