<div class="top">
    <h1 class="form-fade-el">{{ section.settings.header }}</h1>
    <p class="form-fade-el">{{ section.settings.copy }}</p>
</div>
<div class="bottom">
    <iframe style="
            width:100%;
            height:1200px;
            border-radius: 13px;
            border: 2px solid #00142D;
            background: linear-gradient(98deg, #C1ECFF -0.29%, #C1ECFF 24.74%, #FFF 37.93%, #C2ECFF 60.62%, #C1ECFF 99.84%);
            box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);"
            src="https://noteforms.com/forms/orders-requests-contact-form-kew4bu">
    </iframe>
</div>



{% schema %}
{
    "name": "Contact",
    "tag": "section",
    "class": "contact c-24",
    "settings": [
        {
        "type": "text",
        "id": "header",
        "label": "Header"
        },
        {
        "type": "text",
        "id": "copy",
        "label": "Copy"
        },
        {
        "type": "text",
        "id": "success_header",
        "label": "Success header"
        },
        {
        "type": "text",
        "id": "success_copy",
        "label": "Success copy"
        }
    ]
}
{% endschema %}
