<div class="max-width">
    <div class="body">
        {% if section.settings.header %}
            <h3>{{ section.settings.header }}</h3>
        {% endif %}
        <div class="richtext">
            {% for block in section.blocks %}
                <div class="text-block">
                    {% if block.settings.title %}
                        <div class="header">{{ block.settings.title }}</div>
                    {% endif %}
                    <div class="text">{{ block.settings.copy }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "XMAS Richtext",
  "tag": "section",
  "class": "xmas-richtext",
  "settings": [
    {
      "id": "header",
      "type": "text",
      "label": "Header"
    }
  ],
  "blocks": [
    {
      "name": "Rich Text",
      "type": "richtext",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Title"
        },
        {
          "id": "copy",
          "type": "richtext",
          "label": "Copy"
        }
      ]
    }
  ]
}
{% endschema %}