.view-home {
	.hero-section {
		position: relative;
		height: calc(var(--vh, 1vh) * 100);
		.c-24 {
			height: 100%;
			justify-content: center;
		}
		.text-wrapper {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			@include get-vw(gap, 24px, 8px);
			p {
				color: var(--black, #000);
				text-align: center;
				@include get-vw(font-size, 24px, 16px);				
				font-family: $neueMed;	
				line-height: 1.1;
				text-transform: uppercase;
				letter-spacing: -0.96px;
				strong {
					@include get-vw(font-size, 48px, 32px);	
					font-weight: normal;							
				}
			}
		}
		img, video {
			object-fit: cover;
		}

		@include bp-767 {
			.c-24 {
				padding-top: 26vw;
			}
		}
	}
	.categories-section {
		.btn {
			padding: 0 42px;
		}
		.inner {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			row-gap: 8px;
		}
		.content {
			display: flex;
			align-items: center;
			flex-direction: column;
			position: relative;
			z-index: 1;
		}
		p {
			font-family: $neueMed;
			line-height: 1;
			letter-spacing: -0.02em;
			text-transform: uppercase;
			color: #FFFFFF;
			@include get-vw(font-size, 48px, 32px);
			@include get-vw(margin-bottom, 32px, 16px);
		}
		.left, .right {
			padding: 16px;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			width: calc(50% - 4px);
			aspect-ratio: 1 / 1;
			transition: all 0.22s $ease-in-out-sine;
			html:not(.touch) & {
				&:hover {
					.btn {
						&.white {
							color: #FFFFFF;
							background: #000000;
							border-color: #000000;
						}
					}
				}
			}
		}
		.full-bleed {
			padding: 32px 16px;
			display: flex;
			align-items: center;
			justify-content: center;
			aspect-ratio: 1 / .497222;
			width: 100%;
			position: relative;
			transition: all 0.22s $ease-in-out-sine;
			html:not(.touch) & {
				&:hover {
					.btn {
						&.white {
							color: #FFFFFF;
							background: #000000;
							border-color: #000000;
						}
					}
				}
			}
		}
		@include bp-767 {
			padding: 0 16px 24px;
			.content {
				align-items: flex-start;
			}
			.inner {
				flex-direction: column;
				row-gap: 16px;
			}
			.left, .right {
				align-items: flex-end;
				justify-content: flex-start;
				width: 100%;

			}
			.full-bleed {
				align-items: flex-end;
				justify-content: flex-start;
				aspect-ratio: .77 / 1;
			}
		}
	}
}













































































































.double-marquee {
	position: relative;
	padding: 24px 0 48px;
	display: flex;
	align-items: center;
	width: 100%;
	.left {
		position: relative;
		z-index: 2;
		img {
			height: 300px;
			aspect-ratio: 1/1;
			@include get-vw(margin-right, 190px, 150px);
		}
	}
	.right {
		position: absolute;
		z-index: 1;
		//justify-content: flex-start;
		transform: translateY(50%);
		//left: -250%;
		right: 0;
		.inner {
			//justify-content: flex-start;
			flex-direction: row-reverse;
			//right: 0;
		}
		p {
			font-family: $neueMed;
			@include get-vw(font-size, 48px, 32px);
			line-height: 1;
			letter-spacing: -0.02em;
			text-transform: uppercase;
			color: #000000;
			@include get-vw(margin-right, 330px, 280px);
		}
	}

	@include bp-767 {
		padding-bottom: 32px;
	}
}
