.view-product {
  .pdp-hero {
    z-index: 4;
    position: relative;
    background: linear-gradient(180deg, #C3EDFF 0%, #F5FDFF 100%);
    border-bottom: 2px solid rgba(0, 20, 45, 1);
    .pdp-hero-inner {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      z-index: 3;
      @include get-vw(padding-top, 190px, 190px);
      @include get-vw(padding-bottom, 67px);
      //@include get-vw(padding-left, 211px);
      //@include get-vw(padding-right, 206px);
      @include get-vw(gap, 80px, 16px);
    }
    .ribbon {
      position: absolute;
      display: flex;
      z-index: 4;
      transition: all .4s cubic-bezier(.47,1.64,.41,.8);
      transform: rotate(5.049deg);
      @include get-vw(top, -48px, -48px);
      @include get-vw(right, -73px, -73px);
      @include get-vw(height, 192px, 142px);
      @include get-vw(width, 192px, 142px);
    }
    .left {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      //@include get-vw(min-width, 484px, 142px);
      @include get-vw(padding-left, 20px, 0px);
      width: calc(40% - 40px);
    }
    .right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      //min-width: 33.611vw;
      width: calc(60% - 40px);
      @include get-vw(padding-right, 20px, 0px);
    }
    .frame {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      aspect-ratio: 0.75/1;
      border: 8px solid #FFF;
      overflow: hidden;
      box-shadow: 2px 4px 0 4px rgba(0, 0, 0, 0.15), 0 0 0 2px #00142D;
      @include get-vw(margin-bottom, 19px, 19px);
      @include get-vw(border-radius, 24px, 22px);
    }
    .slider {
      overflow: unset;
    }
    .slide {
      display: flex;
      overflow: hidden;
      height: 100%;
      width: 100%;
      position: relative;
      min-width: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .thumbnails {
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      gap: 15px;
      width: 100%;
    }
    .thumbnail {
      position: relative;
      height: 100%;
      width: calc(25% - 0.5vw);
      border-radius: 24px;
      @include get-vw(border-radius, 24px, 16px);
      border: 1.5px solid #000;
      overflow: hidden;
      transition: .3s all $ease-in-out-sine;
      box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.25);
      aspect-ratio: 0.85 / 1;
      @include get-vw(max-height, 120px, 120px);
      @include get-vw(max-width, 105px, 105px);
      &.active {
        transform: rotate(-5deg);
        box-shadow: unset;
        border: 2px solid rgba(255, 163, 255, 1);
      }
      html:not(.touch) & {
        &:hover {
          transform: rotate(-5deg);
        }
      }
    }
    .eyebrow {
      color: #00142D;

      font-family: $mencoBlack;
      line-height: 1.45;
      text-transform: uppercase;
      margin-bottom: 8px;
      @include get-vw(font-size, 18px, 16px);
    }
    h1 {
      color: #FFF;
      text-shadow: -3px 3px #00142D;
      -webkit-text-stroke: 1px #00142d;
      text-stroke: 1px #00142d;
      font-family: $ttBlack;
      line-height: .91;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      text-align: start;
      @include get-vw(font-size, 104px, 64px);
      @include get-vw(margin-bottom, 18px, 8px);
    }
    .price-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
    }
    .price {
      color: #FFA3FF;
      -webkit-text-stroke: 1px #00142d;
      text-stroke: 1px #00142d;
      text-shadow: -1px 1px #00142D;
      font-family: $ttBlack;
      line-height: .91;
      letter-spacing: -0.92px;
      text-transform: uppercase;
      margin-right: 8px;
      @include get-vw(font-size, 46px, 46px);
    }
    .old-price {
      color: #FFF;
      -webkit-text-stroke: 1px #00142d;
      text-stroke: 1px #00142d;
      text-shadow: -1px 1px #00142D;
      font-family: $ttBlack;
      line-height: .88;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      position: relative;
      @include get-vw(font-size, 32px, 32px);
      span {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
      }
      svg {
        width: 100%;
      }
    }
    .after-pay {
      align-items: center;
      color: #000;
      text-align: center;
      font-family: $mencoBold;
      font-weight: 700;
      line-height: 1.45;
      text-transform: uppercase;
      white-space: nowrap;
      font-size: 14px;
      @include get-vw(margin-bottom, 24px, 24px);
      strong {

        font-family: $mencoBlack;
      }
      img {
        margin-left: 8px;
        width: 67px;
        height: 23px;
      }
    }
    .copy {
      color: #00142D;
      font-family: $mencoBlack;

      line-height: 1.45;
      text-transform: uppercase;
      @include get-vw(font-size, 18px, 16px);
      @include get-vw(margin-bottom, 26px, 24px);
    }
    .variant-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      padding-bottom: 3px;
      @include get-vw(height, 53px, 53px);
      @include get-vw(margin-bottom, 26px, 26px);
    }
    .left-variant {
      border-right: 1px solid #00142D;
    }
    .variant {
      height: calc(100% - 3px);
      position: relative;
      padding: 0 24px;
      z-index: 2;
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #000;
      text-align: center;
      font-family: $mencoBold;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.45;
      text-transform: uppercase;
    }
    .atc-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      transform: translateZ(0);
      @include get-vw(height, 58px, 58px);

      .quantity, .icon-link {
        height: 100%;

        flex: 1;
        border-radius: 29px;
        border: 1px solid #00142D;
        background: #FFF;
        box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.25);
      }
    }
    .quantity {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 24px;
      min-width: 112px;
      max-height: 58px;
      button, span {
        color: #00142D;
        font-family: $mencoBlack;
        font-size: 18px;
        line-height: 1;
        text-transform: uppercase;
      }
    }
    .icon-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      max-width: 80px;
      svg {
        width: 31px;
        height: 26px;
      }
    }
    .atc-form {
      display: flex;
      height: 100%;
      gap: 8px;
    }
    .add-to-cart {
      .in-stock, .out-of-stock {
        transition: opacity .2s $ease-in-out-sine;
      }
      .in-stock {
        width: 100%;
        display: flex;
        justify-content: center;
        transition-delay: .08s;
      }
      .out-of-stock {
        opacity: 0;
        position: absolute;
        transition-delay: 0s;
      }
      &.disabled {
        border-radius: 100px;
        border: 1px solid #000;
        background: #E9F7FB;
        box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.25);
        pointer-events: none;
        .in-stock {
          opacity: 0;
          transition-delay: 0s;
        }
        .out-of-stock {
          opacity: 1;
          transition-delay: .08s;
        }
      }
    }
    .drawers-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      @include get-vw(margin-top, 32px, 24px);
      @include get-vw(gap, 8px, 8px);
      .drawer {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: 2;
        height: auto;
        @include get-vw(padding-left, 24px, 24px);
        @include get-vw(padding-top, 16px, 16px);
        @include get-vw(padding-bottom, 16px, 16px);
        @include get-vw(padding-right, 24px, 24px);
        border-radius: 2.5px;
        border: 1px solid #00142D;
        background: linear-gradient(135deg, #C1ECFF 0%, #C1ECFF 25%, #FFF 38.17%, #C2ECFF 60.83%, #C1ECFF 100%);
        box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.25);
        &.open {
          span {
            transform: rotate(45deg);
          }
        }
        .drawer-items {
          overflow: hidden;
          transform-origin: 0 center;
          * {
            @include get-vw(padding-top, 12px, 12px);
            @include get-vw(padding-bottom, 12px, 12px);
          }
        }
      }
      .label {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #FBF7EB;
        text-shadow: -2px 2px #00142D;
        -webkit-text-stroke: 1px #00142d;
        text-stroke: 1px #00142d;
        font-family: $ttBlack;
        line-height: .91;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        @include get-vw(font-size, 29px, 29px);
        span {
          display: flex;
          transition: all .25s $ease-in-out-sine;
        }
      }
      .drawer-items {
        * {
          color: #00142D;
          font-family: $mencoMedium;
          line-height: 1.45;
          @include get-vw(font-size, 18px, 16px);
        }
      }
    }
    .options {
      display: flex;
      @include get-vw(gap, 10px, 4px);
      justify-content: flex-start;
      @include get-vw(padding-bottom, 15px, 15px);
    }
    .option {
      --color: #F5FDFF;
      --color-hover: #F5FDFF;
      --hover-back: #477DFD;
      --hover-front: linear-gradient(90deg, #9F8FFF 0%, #FFA3FF 25.33%, #FF8B8B 50.33%, #FFE092 74.81%, #A9FF99 100%);
      -webkit-tap-highlight-color: transparent;
      position: relative;
      overflow: hidden;
      color: var(--c, var(--color));
      transition: all .25s 0s $ease-in-out-sine;
      border-radius: 100px;
      border: 1px solid #000;
      background: #FFF;
      box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.25);
      @include get-vw(height, 58px, 58px);
      @include get-vw(min-width, 100px, 100px);
      padding: 0 32px;
      text-align: center;

      font-family: $ttBlack;
      @include get-vw(font-size, 29px, 26px);
      line-height: .8;
      letter-spacing: -0.26px;
      text-transform: uppercase;
      span:not(.tag) {
        z-index: 3;
        position: relative;
        transform: scale(1) translateZ(0);
        display: flex;
        align-items: center;
        text-shadow: -1px 1px #00142D;
        -webkit-text-stroke: 1px #00142d;
        text-stroke: 1px #00142d;
        transition: all .25s 0s $ease-in-out-sine;
      }
      &:before,
      &:after {
        content: '';
        position: absolute;
        background: var(--pb, var(--hover-back));
        top: 0;
        left: 0;
        right: 0;
        height: 200%;
        border-radius: var(--br, 40%);
        transform: translateY(var(--y, 50%));
        transition: transform var(--d, .35s) $ease-in-out-sine var(--d-d, 0s), border-radius .45s $ease-in-out-sine var(--br-d, .08s);
      }
      &:after {
        --pb: var(--hover-front);
        --d: .39s;
      }
      &:before {
        --d-d: .06s;
      }
      &.active {
        transform: translate3d(1px, 1px, 0px);
        border-radius: 100px;
        border: 1px solid rgba(125, 0, 125, 0.23);
        background: linear-gradient(90deg, #9F8FFF 0%, #FFA3FF 25.33%, #FF8B8B 50.33%, #FFE092 74.81%, #A9FF99 100%);
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
        transition: color .3s .1s $ease-in-out-sine;
        --name: move;
        --c: var(--color-hover);
        span:not(.tag) {
          transform: scale(0.975) translateZ(0);
          text-shadow: 0px 0px #00142D;
        }
        &:before,
        &:after {
          --y: 0;
          --br: 0;
        }
        &:before {
          --d-d: 0s;
        }
        &:after {
          --br: 0;
          --d-d: .02s;
        }
        html:not(.touch) & {
          &:hover {
            transform: translate3d(1px, 1px, 0px) rotate(3deg);
          }
        }
      }
      html:not(.touch) & {
        &:hover {
          border-radius: 100px;
          border: 1px solid rgba(125, 0, 125, 0.23);
          transform: translate3d(1px, 1px, 0px) rotate(3deg);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
          transition: all .25s 0s $ease-in-out-sine;
          --name: move;
          --c: var(--color-hover);
          span:not(.tag) {
            transform: scale(0.975) translateZ(0);
            text-shadow: 0px 0px #00142D;
          }
          &:before,
          &:after {
            --y: 0;
            --br: 0;
          }
          &:before {
            --d-d: 0s;
          }
          &:after {
            --br: 0;
            --d-d: .02s;
          }
        }
      }
    }
    @include bp-767 {
      .pdp-hero-inner {
        flex-direction: column;
        padding: 135px 17px 42px;
        gap: 16px;
      }
      .left {
        width: 100%;
        height: 339px;
      }
      .right {
        width: 100%;
      }
      .slider {
        display: flex;
        gap: 12px;
        height: 100%;
        aspect-ratio: 0.75/1;
        overflow: visible;
      }
      .slides {
        padding-bottom: 2px;
        overflow: visible;
      }
      .slide {
        width: 68vw;
        min-width: 68vw;
        margin-right: 5px;
        overflow: visible;
        img {
          border-radius: 22px;
          height: 100%;
        }
      }
      .frame-mobile {
        position: absolute;
        height: 100%;
        margin-bottom: 0;
        min-width: 68vw;
        border-radius: 22px;
        border: 4px solid #FFF;
        overflow: hidden;
        box-shadow: 0 1.1258188486099243px 1.6887284517288208px 0 rgba(0, 0, 0, 0.32);
      }
      .frame {
        border-radius: 0;
        box-shadow: none;
        border: none;
        overflow: visible;
        height: 100%;
      }
      .thumbnails {
        height: 100%;
        flex: 1;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        border: none;
        display: none;
      }
      .thumbnail {
        width: 70px;
        height: 25%;
        border: unset;
        border-radius: 16.5px;
        max-height: unset;
        &.active {
          border: 2.067px solid #00142D;
          transform: rotate(-5deg);
        }
      }
      .ribbon {
        top: unset;
        bottom: -65px;
        right: -40px;
        transform: rotate(-4deg);
        width: 142px;
        height: 142px;
      }
      .after-pay {
        font-family: $mencoBlack;
      }
      .variant-wrapper {
        margin-bottom: 0;
      }
      .atc-wrapper {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 14px 14px 16px;
        border-radius: 40px 40px 0 0;
        background: #FFFFFF;
        height: 23.4vw;
        z-index: 100;
      }
      .atc-form {
        width: 100%;
      }

      .add-to-cart {
        width: 100%;
      }
      .quantity {
        max-width: 90px;
        min-width: 90px;
        padding: 0 14px 2px;
      }
      .options {
        padding-bottom: 0;
        padding-top: 25px;
      }
    }
  }
  .about-section {
    position: relative;
    z-index: 1;
    > .inner {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      @include get-vw(padding-top, 68px, 43px);
      @include get-vw(padding-left, 212px, 130px);
      @include get-vw(padding-right, 205px, 130px);
      @include get-vw(padding-bottom, 43px, 22px);
      @include get-vw(gap, 24px, 15px);
    }
    .icon {
      position: absolute;
      @include get-vw(top, -30px, -29px);
      @include get-vw(right, 44px, 7px);
      @include get-vw(width, 118px, 89px);
      @include get-vw(height, 118px, 89px);
    }
    .text-block {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: stretch;
      width: 100%;
      z-index: 2;
      height: auto;
      @include get-vw(padding-top, 50px, 27px);
      @include get-vw(padding-right, 60px, 23px);
      @include get-vw(padding-left, 52px, 23px);
      @include get-vw(padding-bottom, 47px, 47px);
    }
    .ice-block {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: translateZ(0);
    }
    h2 {
      z-index: 1;
      text-align: start;
      color: #FFF;
      text-shadow: -3px 3px #00142D;
      -webkit-text-stroke: 1px #00142d;
      text-strike: 1px #00142d;
      font-family: $ttBlack;
      line-height: .91;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      @include get-vw(margin-bottom, 20px, 20px);
      @include get-vw(font-size, 72px, 32px);
    }
    .copy {
      z-index: 1;
      color: #00142D;
      font-family: $mencoMedium;
      line-height: 1.45;
      @include get-vw(font-size, 21px, 16px);
    }
    @include bp-767 {
      padding-left: 18px;
      padding-right: 18px;
      > .inner {
        padding-left: 0;
        padding-right: 0;
      }
      .icon {
        right: -7px;
      }
      h2 {
        max-width: 85%;
        text-shadow: -1px 1px #00142D;
      }
    }
  }
  .faq-section {
    position: relative;
    z-index: 1;
    @include get-vw(padding-top, 43px, 22px);
    @include get-vw(padding-bottom, 64px, 33px);
    @include get-vw(padding-left, 212px, 130px);
    @include get-vw(padding-right, 205px, 130px);
    .ice-block {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    h3 {
      color: #FBF7EB;
      text-shadow: -3px 3px #00142D;
      -webkit-text-stroke: 1px #00142d;
      text-stroke: 1px #00142d;
      font-family: $ttBlack;
      line-height: .91;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      text-align: center;
      @include get-vw(font-size, 104px, 56px);
      @include get-vw(margin-bottom, 35px, 28px);
    }
    .inner {
      width: 100%;
      gap: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .drawer {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      z-index: 2;
      height: auto;
      @include get-vw(padding-left, 58px, 25px);
      @include get-vw(padding-top, 15px, 15px);
      @include get-vw(padding-bottom, 18px, 18px);
      @include get-vw(padding-right, 52px, 25px);
      &.open {
        span {
          transform: rotate(45deg);
        }
      }
      > img {
        object-fit: contain;
        transform-origin: 0 center;
      }
      .label, .drawer-items {
        z-index: 1;
      }
      .drawer-items {
        overflow: hidden;
        transform-origin: 0 center;
        p {
          @include get-vw(padding-top, 12px, 12px);
          @include get-vw(margin-bottom, 70px, 34px);
        }
      }
    }
    .label {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #FBF7EB;
      text-shadow: -2px 2px #00142D;
      -webkit-text-stroke: 1px #00142d;
      text-stroke: 1px #00142d;
      font-family: $ttBlack;
      line-height: .91;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      @include get-vw(font-size, 46px, 32px);
      @include get-vw(height, 95px, 51px);
      span {
        transition: all .25s $ease-in-out-sine;
        text-shadow: -3px 3px #00142D;
        @include get-vw(font-size, 104px, 56px);
      }
    }
    .drawer-items {
      p {
        color: #00142D;
        font-family: $mencoMedium;
        line-height: 1.45;
        @include get-vw(font-size, 21px, 16px);
      }
    }
    @include bp-767 {
      padding-left: 18px;
      padding-right: 18px;
      .drawer {
        padding-top: 28px;
        padding-bottom: 28px;
      }
      .label {
        text-shadow: -1px 1px #00142D;
      }
    }
  }
  .best-sellers {
    position: relative;

    .top {
      @include get-vw(max-width, 600px, 427px);
    }
    h2 {
      color: #FBF7EB;
      text-shadow: -3px 3px #00142d;
      -webkit-text-stroke: 1px #00142d;
      text-stroke: 1px #00142d;
      font-family: $ttBlack;
      @include get-vw(font-size, 72px, 56px);
      line-height: .91;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      text-align: center;
    }
    @include bp-767 {
      .top {
        max-width: 100%;
      }
    }
  }
}


