.pdp-hero {
	@include get-vw(padding-top, 82px, 82px);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	.newsletter {
		width: 100%;
		margin-bottom: 16px;
	}
	.slider {
		width: auto;
	}
	.left {
		display: flex;
		position: relative;
		width: 70%;
		.inner {
			justify-content: space-between;
			flex-wrap: wrap;
			//@include get-vw(width, 984px, 500px);

			row-gap: 4px;
		}
		.slide {
			width: calc(50% - 2px);
			display: flex;
			overflow: hidden;
			img {
				//@include get-vw(height, 800px, 424px);
				height: 46.2vw;
				width: 100%;
				display: flex;
			}
		}
	}

	.right {
		@include get-vw(padding-left, 32px, 16px);
		@include get-vw(padding-right, 24px, 16px);
		width: 30%;
		min-width: 450px;
		//width: 100%;
		position: sticky;
		top: 20px;
	}
	.header {
		font-family: $neueMed;
		@include get-vw(font-size, 48px, 16px);
		line-height: 1;
		letter-spacing: -0.02em;
		text-transform: uppercase;
		color: #000000;
		@include get-vw(margin-bottom, 24px, 8px);
		width: 70%;
	}
	.price-wrapper {
		display: flex;
		flex-direction: column;
		@include get-vw(margin-bottom, 32px, 24px);
	}
	.top-price {
		display: flex;
		align-items: center;

	}
	.price {
		font-family: $neueMed;
		line-height: 1;
		letter-spacing: -0.02em;
		text-transform: uppercase;
		color: #000000;
		@include get-vw(font-size, 24px, 16px);
		margin-right: 4px;
	}
	.compare-at-price {
		font-family: $neueReg;
		font-size: 14px;
		line-height: 1.21;
		text-transform: uppercase;
		color: #828282;
		text-decoration: line-through;
		margin-right: 8px;
	}
	.discount {
		font-family: $neueReg;
		font-size: 14px;
		line-height: 1.21;
		text-transform: uppercase;
		color: #EB5757;
	}
	.plan {
		padding-top: 8px;
		font-family: $neueReg;
		font-size: 12px;
		line-height: 1.17;
		color: #797979;
		strong {
			font-family: $neueMed;
			color: #000000;
		}
	}
	.options-wrapper {
		display: flex;
		flex-direction: column;
		margin-bottom: 16px;
	}
	.option-title {
		font-family: $neueReg;
		font-size: 14px;
		line-height: 1.21;
		text-transform: uppercase;
		color: #828282;
		margin-bottom: 16px;
	}
	.options {
		display: flex;
		justify-content: space-between;
		gap: 8px;
	}
	.option {
		padding: 2px;
		flex: 1;
		border: 1px solid #000000;
		position: relative;
		overflow: hidden;
		max-width: 158px;
		&.active {
			color: #FFFFFF;
			background: #000000;
			border-color: #000000;
		}
		 &:before, &:after {
			content: '';
			position: absolute;
			width: 150%;
			height: 10px;
			background: #000000cc;
			top: 0;
		 	opacity: 0.5;
			 display: none;
		}
		&:before {
			transform: rotate(40deg) translate(-10%, -50%);
			transform-origin: 0 0;
			right: -50%;
		}
		&:after {
			transform: rotate(320deg) translate(10%, -50%);
			transform-origin: 100% 0;
			left: -50%;
		}

		&.disabled {
			&:before, &:after {
				display: flex;
			}
			pointer-events: none;
		}
	}
	.atc-form {
		width: 100%;
		margin-bottom: 16px;
		.btn {
			width: 100%;
		}
		.in-stock {
			width: 100%;
			display: flex;
			justify-content: center;
		}
		.out-of-stock {
			opacity: 0;
			position: absolute;
		}
	}
	.add-to-cart {
		&.disabled {
			opacity: 0.8;
			justify-content: center;
			pointer-events: none;
			.in-stock {
				opacity: 0;
				transition-delay: 0s;
			}
			.out-of-stock {
				opacity: 1;
				transition-delay: .08s;
			}
		}
	}
	.icon-text-wrapper {
		display: flex;
		justify-content: space-between;
		margin-bottom: 25px;
	}
	.icon-text {
		display: flex;
		align-items: center;
		gap: 5px;
		p {
			font-family: $neueReg;
			font-size: 12px;
			line-height: 1.21;
			text-transform: uppercase;
			color: #000000;
		}
		img {
			@include get-vw(height, 20px, 15px);
		}
	}
	.new-tabs {
		padding-top: 24px;
		padding-bottom: 24px;
		border-top: 1px solid #000000;
		.tab-set {
			min-width: 100%;
		}
		.tab {
			font-family: $neueReg;
			font-size: 16px;
			line-height: 1.25;
			color: #828282;
			opacity: 1;
			visibility: visible;
		}
		.tab-wrapper {
			@include get-vw(min-height, 270px, 180px);
		}
		.img-tab {
			@include get-vw(height, 270px, 180px);
		}
		.img-wrapper {
			width: 100%;
			display: flex;
			position: relative;
			justify-content: flex-start;
			align-items: flex-start;
			@include get-vw(height, 270px, 180px);
			div {
				width: 100%;
				display: flex;
				position: absolute;
				height: 100%;
				transition: all 0.22s $ease-out-sine;
			}
		}
		img {
			//aspect-ratio: 2/1;
			width: 100%;
			display: flex;
			position: absolute;
			visibility: hidden;
			opacity: 0;
			transition: all 0.22s $ease-out-sine;
			&.active {
				position: relative;
				visibility: visible;
				opacity: 1;
			}
		}
	}
	.trigger-wrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 24px;		
	}
	.trigger {
		font-family: $neueReg;
		font-size: 14px;
		line-height: 1.21;;
		text-transform: uppercase;
		color: #000000;
		cursor: pointer;
		position: relative;
		display: flex;
		align-items: center;
		transition: all .22s $ease-out-sine;
	}

	@include bp-959 {

		.slider{
			width: 60%;
		}
		.right {
			min-width: unset;
			width: 40%;
		}
		.left {
			.inner {
				width: 100%;
				height: 100%;
			}
		}
		.inner-slider {
			width: 100%;
		}
	}

	@include bp-767 {
		flex-direction: column;
		padding-top: 62px;
		margin-bottom: 32px;
		.slider {
			width: 100%;
		}
		.left {
			width: 100%;
			width: 100%;
			.inner {
				flex-wrap: nowrap;
			}
			.slide {
				width: 90%;
				min-width: 90%;
				margin-right: 4px;
				img {
					height: 420px;
				}
			}
		}
		.right {
			width: 100%;
			padding-top: 16px;
		}
		.header {
			width: 100%;
		}
		.inner-slider {
			border-bottom: 1px solid #000000;
		}
		.plan {
			display: none;
		}
	}

	&.coming-soon {
		.options-wrapper {
			display: none;
		}
	}
}

