.view-product {
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' class='svg-grid' viewBox='0 0 1439 3712'%3E%3Cg stroke='%23E1DDEC' clip-path='url(%23a)' opacity='.2'%3E%3Cpath vector-effect='non-scaling-stroke' d='M30 3.5h1380M30 47.5h1380M30 91.5h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380M59.5 620V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4m44 616V4'/%3E%3C/g%3E%3Cg stroke='%23E1DDEC' clip-path='url(%23b)' opacity='.2'%3E%3Cpath vector-effect='non-scaling-stroke' d='M30 619.5h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1350.5.5V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620m44 616V620'/%3E%3C/g%3E%3Cg stroke='%23E1DDEC' clip-path='url(%23c)' opacity='.2'%3E%3Cpath vector-effect='non-scaling-stroke' d='M30 1239.5h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1350.5.5v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616'/%3E%3C/g%3E%3Cg stroke='%23E1DDEC' clip-path='url(%23d)' opacity='.2'%3E%3Cpath vector-effect='non-scaling-stroke' d='M30 1859.5h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1350.5.5v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616'/%3E%3C/g%3E%3Cg stroke='%23E1DDEC' clip-path='url(%23e)' opacity='.2'%3E%3Cpath vector-effect='non-scaling-stroke' d='M30 2479.5h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1350.5.5v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616'/%3E%3C/g%3E%3Cg stroke='%23E1DDEC' clip-path='url(%23f)' opacity='.2'%3E%3Cpath vector-effect='non-scaling-stroke' d='M30 3095.5h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1380 44h1380m-1350.5.5v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616m44 616v-616'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath vector-effect='non-scaling-stroke' fill='%23fff' d='M0 0h1439v620H0z'/%3E%3C/clipPath%3E%3CclipPath id='b'%3E%3Cpath vector-effect='non-scaling-stroke' fill='%23fff' d='M0 616h1439v620H0z'/%3E%3C/clipPath%3E%3CclipPath id='c'%3E%3Cpath vector-effect='non-scaling-stroke' fill='%23fff' d='M0 1236h1439v620H0z'/%3E%3C/clipPath%3E%3CclipPath id='d'%3E%3Cpath vector-effect='non-scaling-stroke' fill='%23fff' d='M0 1856h1439v620H0z'/%3E%3C/clipPath%3E%3CclipPath id='e'%3E%3Cpath vector-effect='non-scaling-stroke' fill='%23fff' d='M0 2476h1439v620H0z'/%3E%3C/clipPath%3E%3CclipPath id='f'%3E%3Cpath vector-effect='non-scaling-stroke' fill='%23fff' d='M0 3092h1439v620H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }
  .pdp-hero {
    z-index: 1;
    position: relative;
    background: linear-gradient(180deg, #C3EDFF 0%, #F5FDFF 100%);
    border-bottom: 2px solid rgba(0, 20, 45, 1);
    .pdp-hero-inner {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      z-index: 3;
      @include get-vw(padding-top, 190px, 190px);
      @include get-vw(padding-bottom, 67px);
      @include get-vw(padding-left, 211px);
      @include get-vw(padding-right, 206px);
      @include get-vw(gap, 82px, 16px);
    }
    .ribbon {
      position: absolute;
      display: flex;
      z-index: 4;
      transition: all .4s cubic-bezier(.47,1.64,.41,.8);
      transform: rotate(5.049deg);
      @include get-vw(top, -48px, -48px);
      @include get-vw(right, -73px, -73px);
      @include get-vw(height, 192px, 142px);
      @include get-vw(width, 192px, 142px);
    }
    .left {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 32vw;
    }
    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .frame {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      border: 8px solid #FFF;
      box-shadow: 2px 4px 0 4px rgba(0, 0, 0, 0.15), 0 0 0 2px #00142D;
      @include get-vw(margin-bottom, 19px, 19px);
      @include get-vw(height, 603px, 340px);
      @include get-vw(border-radius, 24px, 22px);
    }
    .slider {
      overflow: unset;
    }
    .slide {
      display: flex;
      overflow: hidden;
      height: 100%;
      width: 32vw;
      position: relative;
      min-width: 32vw;
      img {
        width: 100%;
        @include get-vw(border-radius, 24px, 22px);
      }
    }
    .thumbnails {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 1vw;
      @include get-vw-no-max(height, 121px, 96px);
    }
    .thumbnail {
      position: relative;
      height: 100%;
      width: 25%;
      border-radius: 24px;
      border: 1.5px solid #000;
      overflow: hidden;
      transition: .3s all $ease-in-out-sine;
      box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.25);
      aspect-ratio: 0.84 / 1;
      &.active {
        transform: rotate(-5deg);
        box-shadow: unset;
        border: 2px solid rgba(255, 163, 255, 1);
      }
      html:not(.touch) & {
        &:hover {
          transform: rotate(-5deg);
        }
      }
    }
    .eyebrow {
      color: #00142D;
      font-family: $mencoBlack;
      line-height: 1.45;
      text-transform: uppercase;
      margin-bottom: 8px;
      @include get-vw(font-size, 18px, 16px);
    }
    h1 {
      color: #FFF;
      text-shadow: -3px 3px #00142D;
      -webkit-text-stroke: 1px #00142d;
      text-strke: 1px #00142d;
      font-family: $ttBlack;
      line-height: .91;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      margin-bottom: 8px;
      text-align: start;
      @include get-vw(font-size, 104px, 64px);
    }
    .price-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
    }
    .price {
      color: #FFA3FF;
      -webkit-text-stroke: 1px #00142d;
      text-strke: 1px #00142d;
      text-shadow: -1px 1px #00142D;
      font-family: $ttBlack;
      line-height: .91;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      margin-right: 8px;
      @include get-vw(font-size, 46px, 46px);
    }
    .old-price {
      color: #FFF;
      -webkit-text-stroke: 1px #00142d;
      text-strke: 1px #00142d;
      text-shadow: -1px 1px #00142D;
      font-family: $ttBlack;
      line-height: .88;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      position: relative;
      @include get-vw(font-size, 32px, 32px);
      span {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
      }
      svg {
        width: 100%;
      }
    }
    .after-pay {
      align-items: center;
      color: #000;
      text-align: center;
      font-family: $mencoBold;
      font-size: 14px;
      line-height: 1.45;
      text-transform: uppercase;
      @include get-vw(margin-bottom, 24px, 24px);
      strong {
        font-family: $mencoBlack;
      }
      img {
        margin-left: 8px;
        width: 67px;
        height: 23px;
      }
    }
    .copy {
      color: #00142D;
      font-family: $mencoBlack;
      line-height: 1.45;
      text-transform: uppercase;
      @include get-vw(margin-bottom, 26px, 24px);
      @include get-vw(font-size, 18px, 16px);
    }
    .variant-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      padding-bottom: 3px;
      @include get-vw(height, 53px, 53px);
      @include get-vw(margin-bottom, 26px, 26px);
    }
    .left-variant {
      border-right: 1px solid #00142D;
    }
    .variant {
      height: calc(100% - 3px);
      position: relative;
      padding: 0 24px;
      z-index: 2;
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #000;
      text-align: center;
      font-family: $mencoBold;
      font-size: 14px;
      line-height: 1.45;
      text-transform: uppercase;
    }
    .atc-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      transform: translateZ(0);
      @include get-vw(height, 58px, 58px);

      .quantity, .icon-link {
        height: 100%;
        flex: 1;
        border-radius: 29px;
        border: 1px solid #00142D;
        background: #FFF;
        box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.25);
      }
    }
    .quantity {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 24px;
      min-width: 112px;
      button, span {
        color: #00142D;
        font-family: $mencoBlack;
        font-size: 18px;
        line-height: 1;
        text-transform: uppercase;
      }
    }
    .icon-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      max-width: 80px;
      svg {
        width: 31px;
        height: 26px;
      }
    }
    .atc-form {
      display: flex;
      height: 100%;
      gap: 8px;
    }
    .add-to-cart {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      border: 1px solid #000;
      background: #FFA3FF;
      box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.25);
      height: 100%;
      color: #F5FDFF;
      text-align: center;
      font-family: $ttBlack;
      font-size: 29px;
      line-height: .80;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      -webkit-text-stroke: 1px #00142d;
      text-strke: 1px #00142d;
      text-shadow: -1px 1px #00142D;
      white-space: nowrap;
      @include get-vw(width, 275px, 180px);
      span {
        margin-left: 8px;
      }
    }
    @include bp-767 {
      .pdp-hero-inner {
        flex-direction: column;
        padding: 128px 17px 42px;
        gap: 16px;
      }
      .left {
        width: 100%;
      }
      .slider {
        display: flex;
        gap: 12px;
        height: 340px;
      }
      .slide {
        width: 100%;
        min-width: 100%;
        img {
          border-radius: 0;
        }
      }
      .frame {
        height: 100%;
        margin-bottom: 0;
        min-width: 68vw;
        border-radius: 22px;
        box-shadow: 0 1.1258188486099243px 1.6887284517288208px 0 rgba(0, 0, 0, 0.32);
      }
      .thumbnails {
        height: 100%;
        flex: 1;
        flex-direction: column;
        gap: 1vw;
        border: none;
      }
      .thumbnail {
        width: 70px;
        height: 75px;
        border: unset;
        border-radius: 16.5px;
        &.active {
          border: 2.067px solid #00142D;
          transform: rotate(-5deg);
        }
      }
      .ribbon {
        top: unset;
        bottom: -65px;
        right: -40px;
        transform: rotate(-4deg);
        width: 142px;
        height: 142px;
      }
      .price-wrapper {
        margin-bottom: 15px;
      }
      .after-pay {
        font-family: $mencoBlack;
      }
      .variant-wrapper {
        margin-bottom: 0;
      }
      .atc-wrapper {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 14px 14px 16px;
        border-radius: 40px 40px 0 0;
        background: #FFFFFF;
        height: 23.4vw;
        z-index: 100;
      }
    }
  }
  .about-section {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    @include get-vw(padding-top, 68px, 43px);
    @include get-vw(padding-left, 212px, 130px);
    @include get-vw(padding-right, 205px, 130px);
    @include get-vw(padding-bottom, 43px, 22px);
    @include get-vw(gap, 24px, 15px);
    .icon {
      position: absolute;
      @include get-vw(top, -30px, -29px);
      @include get-vw(right, 44px, 7px);
      @include get-vw(width, 118px, 89px);
      @include get-vw(height, 118px, 89px);
    }
    .text-block {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: stretch;
      width: 100%;
      z-index: 2;
      height: auto;
      @include get-vw(padding-top, 50px, 27px);
      @include get-vw(padding-right, 60px, 23px);
      @include get-vw(padding-left, 52px, 23px);
      @include get-vw(padding-bottom, 47px, 47px);
    }
    .ice-block {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    h2 {
      z-index: 1;
      text-align: start;
      color: #FFF;
      text-shadow: -3px 3px #00142D;
      -webkit-text-stroke: 1px #00142d;
      text-strke: 1px #00142d;
      font-family: $ttBlack;
      line-height: .91;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      @include get-vw(margin-bottom, 20px, 20px);
      @include get-vw(font-size, 72px, 32px);
    }
    .copy {
      z-index: 1;
      color: #00142D;
      font-family: $mencoMedium;
      line-height: 1.45;
      @include get-vw(font-size, 21px, 16px);
    }
    @include bp-767 {
      padding-left: 18px;
      padding-right: 18px;
      h2 {
        text-shadow: -1px 1px #00142D;
      }
    }
  }
  .faq-section {
    @include get-vw(padding-top, 43px, 22px);
    @include get-vw(padding-bottom, 64px, 33px);
    @include get-vw(padding-left, 212px, 130px);
    @include get-vw(padding-right, 205px, 130px);
    .ice-block {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    h3 {
      color: #FBF7EB;
      text-shadow: -3px 3px #00142D;
      -webkit-text-stroke: 1px #00142d;
      text-strke: 1px #00142d;
      font-family: $ttBlack;
      line-height: .91;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      text-align: center;
      @include get-vw(font-size, 104px, 56px);
      @include get-vw(margin-bottom, 35px, 28px);
    }
    .inner {
      width: 100%;
      gap: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .drawer {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      z-index: 2;
      height: auto;
      @include get-vw(padding-left, 58px, 25px);
      @include get-vw(padding-top, 15px, 15px);
      @include get-vw(padding-bottom, 18px, 18px);
      @include get-vw(padding-right, 52px, 25px);
      &.open {
        span {
          transform: rotate(45deg);
        }
      }
      > img {
        object-fit: contain;
        transform-origin: 0 center;
      }
      .label, .drawer-items {
        z-index: 1;
      }
      .drawer-items {
        overflow: hidden;
        transform-origin: 0 center;
        p {
          @include get-vw(padding-top, 12px, 12px);
          @include get-vw(margin-bottom, 70px, 34px);
        }
      }
    }
    .label {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #FBF7EB;
      text-shadow: -2px 2px #00142D;
      -webkit-text-stroke: 1px #00142d;
      text-strke: 1px #00142d;
      font-family: $ttBlack;
      line-height: .91;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      @include get-vw(font-size, 46px, 32px);
      @include get-vw(height, 95px, 51px);
      span {
        transition: all .25s $ease-in-out-sine;
        text-shadow: -3px 3px #00142D;
        @include get-vw(font-size, 104px, 56px);
      }
    }
    .drawer-items {
      p {
        color: #00142D;
        font-family: $mencoMedium;
        line-height: 1.45;
        @include get-vw(font-size, 21px, 16px);
      }
    }
    @include bp-767 {
      padding-left: 18px;
      padding-right: 18px;
      .drawer {
        padding-top: 28px;
        padding-bottom: 28px;
      }
      .label {
        text-shadow: -1px 1px #00142D;
      }
    }
  }
  .best-sellers {
    .top {
      @include get-vw(max-width, 600px, 427px);
    }

    h2 {
      color: #FBF7EB;
      text-shadow: -3px 3px #00142d;
      -webkit-text-stroke: 1px #00142d;
      text-stroke: 1px #00142d;
      font-family: $ttBlack;
      @include get-vw(font-size, 72px, 56px);
      line-height: .91;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      text-align: center;
    }
  }
}


